.register {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 550px;
    height: 650px;
    background-color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow: hidden;
    box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, .45);
    border-radius: 5px;

    &__user {
        width: 70%;
        height: 100px;
        background-color: #FFFFFF;
        text-align: center;
        line-height: 100px;



        &-icon {
            color: #5D53AA;
            font-size: 22px;
        }
    }


    &__title {
        text-transform: capitalize;
        font-size: 35px;
        margin: 10px;
        color: yellow;
    }

    &__form {

        width: 70%;
        flex-basis: 70%;
        margin: 0 auto;
        padding: 0px 10px;
        height: auto;
        display: flex;
        flex-direction: column;
        position: relative;


        &-data {
            border: none;
            background-color: transparent;
            font-size: 16px;
            color: black;
            position: relative;
            outline: none;
            padding: 10px 15px;
            border: 1px solid rgb(163, 161, 161);
            letter-spacing: 1px;
            transition: .3s;
            outline-color: none;
            margin: 15px 0;

            &:focus {
                color: black;
                border-color: rgb(209, 205, 205);
            }


        }



        &-btn {

            width: 200px;
            height: 50px;
            margin: 30px auto;

            border: none;
            background-color: white;
            color: #90C843;
            cursor: pointer;
            text-transform: uppercase;
            font-weight: bold;
            font-size: 15px;
            transition: .4s;
            border: 1px solid #90C843;
            outline: none;

            &:hover {
                background-color: #90C843;
                color: white;
                letter-spacing: 1px;
                border-color: white;
            }


        }

        &-errorText {
            position: absolute;
            color: red;
            width: 100%;
            text-align: center;
            font-size: 13px;
            top: -5%;
            left: 50%;

            text-transform: uppercase;
            font-family: Verdana, Geneva, Tahoma, sans-serif;
            font-weight: bold;
            transform: translateX(-50%);

        }
    }
}

@media (max-width:650px) {
    .register {
        width: 100%;
        height: 600px;

        &__form {



            &-btn {
                width: 150px;







            }
        }
    }
}