@mixin link_btn-style {
    font-size: 15px;
    letter-spacing: 1px;
    text-decoration: none;
    text-transform: capitalize;
    width: 100%;
    height: 100%;
    display: block;
    line-height: 45px;
    transition: 0.2s;
}

.start-page {
    margin: 0 auto;
    height: 100vh;
    width: 1100px;
    height: 400px;
    background-color: #e1dede;
    display: flex;

    justify-content: center;
    align-items: center;

    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

    @media (max-width: 1150px) {
        width: 900px;

    }

    @media (max-width: 920px) {
        flex-direction: column;
        height: auto;
        width: 80%;


    }

    &__title {
        font-size: 30px;
        text-transform: capitalize;
        text-align: center;
    }

    &__text {
        font-size: 18px;
        margin: 45px 0;
        display: block;
        width: 60%;
        text-align: center;

    }

    &__btn-register {
        height: 50px;

        cursor: pointer;

        width: 300px;
        background-color: white;
        border: 3px solid #00a63f;
        color: #00a63f;
        letter-spacing: 1px;

        @media (max-width: 920px) {
            width: 250px;

        }

        &:hover,
        &:hover .start-page__link-register {
            color: white;
            background-color: #00a63f;
        }
    }

    &__btn-login {
        width: 200px;
        background-color: #00a63f;
        border: 3px solid #00a63f;
        color: white;
        transition: 0.2s;

        &:hover,
        &:hover .start-page__link-login {
            color: #00a63f;
            background-color: white;
        }
    }

    &__link-register {
        color: #00a63f;
        @include link_btn-style();
    }

    &__link-login {
        color: white;
        @include link_btn-style();
    }

    &__register {
        width: 50%;
        height: 400px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 10px 20px;

        @media (max-width: 920px) {
            width: 100%;

        }
    }

    &__login {
        width: 50%;
        height: 400px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 10px 20px;

        @media (max-width: 920px) {
            width: 100%;

        }

        &::after {
            content: "";
            position: absolute;
            left: 50%;
            top: 50%;
            background-color: #c0c0c0;
            width: 2px;
            border-radius: 30px;
            height: 65%;
            transform: translate(-50%, -50%);

            @media (max-width: 920px) {

                width: 75%;
                height: 2px;

            }
        }
    }
}