* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    overflow-x: hidden;
    font-family: "roboto";
    min-height: 100vh;
    display: flex;
    align-items: center;


}

#root {
    width: 100%;
    overflow: hidden;
    min-height: 100vh;

}