$default-color: white;

@mixin hamburger-line {
  width: 100%;
  height: 3px;
  background-color: $default-color;
  position: absolute;
  transition: all 0.1s 0.2s ease-in-out;
}

.hamburger {
  height: 40px;

  display: flex;
  cursor: pointer;
  background-color: transparent;
  border: none;
  z-index: 2;
  transition: all 0.2s 0.2s;
  position: absolute;
  right: 4%;

  @media (min-width: 1280px) {
    display: none;
  }

  outline: none;
}

.hamburger--active {
  padding: 20px;
  text-align: right;

  .hamburger__container {
    .hamburger__line {
      background-color: transparent;

      &:after {
        transform: translateY(8px) rotate(45deg);
        background-color: white;
      }

      &:before {
        transform: translateY(-8px) rotate(-45deg);
        background-color: white;
      }
    }
  }
}

.hamburger__container {
  width: 25px;
  height: 24px;
  display: flex;
  flex-direction: column;
  position: relative;
}

.hamburger__line {
  @include hamburger-line();
  top: 50%;
  transform: translateY(-50%);

  &:after,
  &:before {
    @include hamburger-line();

    content: "";
    left: 0;
    transition: all 0.2s 0.2s ease-in-out;
  }

  &:after {
    top: -8px;
  }

  &:before {
    top: 8px;
  }
}

//div-container od menu hamburger
.navigation-desktop {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &__title {
    text-transform: uppercase;
    color: rgb(194, 53, 53);
    letter-spacing: 1px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    padding-top: 20px;
  }

  &__list {
    display: flex;
    justify-content: space-around;
    list-style: none;
  }

  &__item {
    width: 140px;
    height: 70px;
    flex-basis: auto;

    &:hover>.navigation-desktop__sub-list {
      visibility: visible;
      opacity: 1;
    }


  }



  &__link {
    font-family: "Roboto";
    text-align: center;
    display: block;
    color: black;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 13px;
    font-weight: bolder;
    letter-spacing: 1px;
    width: 100%;
    height: 100%;
    line-height: 70px;
    transition: all 0.2s;
    position: relative;



    &--active {
      color: rgb(112, 190, 214);
    }



    &::after {
      content: "";
      position: absolute;
      bottom: 3%;
      left: 50%;
      transform: translateX(-50%);
      //visibility: hidden;
      width: 0px;
      height: 0px;
      opacity: 0;

      border-left: 7px solid transparent;
      border-right: 7px solid transparent;
      border-bottom: 9px solid rgb(218, 213, 213);
      visibility: hidden;
      transition: all .1s;
    }




    &:hover::after {
      visibility: visible;
      opacity: 1;
    }

    &:hover {
      color: rgb(112, 190, 214);
      text-decoration: none;
    }
  }



  &__sub-list {
    width: 800px;
    height: 250px;
    border-top: 2px solid rgb(218, 213, 213);
    opacity: 0;
    position: absolute;
    top: 194px;
    left: 55%;
    transform: translateX(-50%);
    transition: all 0.2s;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 30px;
    visibility: hidden;
    z-index: 5;
    background-color: white;


    list-style: none;
    -webkit-box-shadow: -5px 4px 15px 0px rgba(209, 209, 209, 1);
    -moz-box-shadow: -5px 4px 15px 0px rgba(209, 209, 209, 1);
    box-shadow: -5px 4px 15px 0px rgba(209, 209, 209, 1);

    &_item {
      display: block;
      width: 120px;

      margin-top: 20px;
    }

    &_link {
      text-decoration: none;
      text-transform: capitalize;
      color: black;
      display: block;
      text-align: center;
      font-size: 12px;
      width: 100%;
      height: 100%;
      padding: 5px 15px;
    }

    &_position {
      &:nth-of-type(2) {
        left: 40%;
      }
    }


  }
}

.navigation {
  width: 100vw;
  height: 100vh;
  overflow-y: hidden;
  background: linear-gradient(hsl(235, 100%, 93%), lightgray);
  position: absolute;
  top: 0;
  left: 0;

  transition: transform 0.15s linear;
  transform: translateX(-100%);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  overflow: hidden;
  z-index: 4;

  @media (min-width: 1280px) {
    display: none;
  }

  &__img {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 200px;
    filter: brightness(0.4);
  }

  //sex-choice
  &__sex-choice {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 200px;
    overflow: hidden;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: grid;
    align-items: flex-end;
    justify-content: start;
    padding: 20px 10px;
    position: relative;
    border-bottom: 1px solid black;
  }

  &__sex-list {
    width: 350px;
    height: auto;
    display: grid;
    grid-template-columns: repeat(3, auto);
    grid-template-rows: auto;
    list-style: none;
    z-index: 2;

    @media (min-width: 1280px) {
      display: flex;
      width: 500px;
    }
  }

  &__sex-item {
    border-left: 1px solid whitesmoke;
    width: auto;
    text-align: center;

    @media (min-width: 1280px) {
      border: none;
      flex-grow: 1;
      position: relative;
      margin: 0 10px;

      @media (min-width: 1280px) {
        &::after {
          content: "";
          position: absolute;
          bottom: 0;
          left: 50%;
          width: 80%;
          height: 1px;
          background-color: red;
          transform: translateX(-100%);
          opacity: 1;
          transition: visibility 0.6s linear 1s;
          transition: transform 0.4s;
          visibility: hidden;
        }

        &:hover::after {
          visibility: visible;
          transform: translateX(-50%);
        }
      }
    }
  }

  &__sex-item:nth-child(1) {
    border-left: none;
  }

  &__list {
    padding: 30px;
    margin-left: 25px;

    list-style: none;
  }

  &__sex-link {
    text-decoration: none;
    color: white;
    padding: 4px 10px;
    text-transform: capitalize;

    @media (min-width: 1280px) {
      display: block;
      font-family: "Roboto", sans-serif;
      color: white;
      transition: 0.3s;
      border-bottom: none;
      padding: 10px;
      text-transform: uppercase;
      font-weight: 500;
      font-style: italic;
      font-size: 14px;
      position: relative;
    }
  }

  &__sex-link--active {
    transition: 1s;
    border-bottom: 1px solid red;

    @media (min-width: 1280px) {
      transition: 0.1s;
    }
  }

  //categories

  &__link {
    font-family: Arial, Helvetica, sans-serif;
    display: block;
    width: 100vw;
    padding: 25px 0;
    text-decoration: none;
    text-transform: uppercase;
    color: $default-color;
    border-bottom: 0.1px solid lightgray;
    letter-spacing: 1px;
    color: rgb(80, 75, 75);
    font-weight: bold;
    font-size: 14px;
    position: relative;

    &__span {
      position: absolute;
      right: 7%;
      top: 50%;
      transform: translateY(-50%);

      &-icon {
        font-size: 16px;
      }
    }
  }
}

.navigation--active {
  transform: translateX(0);

  overflow-y: hidden;
}

//460,640,800,1024,1280-desktop_small