$default-color: #333;

@mixin hamburger-line {
  width: 100%;
  height: 2px;
  background-color: $default-color;
  position: absolute;
  transition: all 0.1s 0.2s ease-in-out;
}

.hamburger {
  height: 50px;
  padding: 20px;
  display: flex;
  cursor: pointer;
  background-color: transparent;
  border: none;
  z-index: 3;
  transition: all 0.2s 0.2s;

  outline: none;
}

.hamburger--active {
  padding: 20px;
  text-align: right;

  .hamburger__container {
    .hamburger__line {
      background-color: transparent;

      &:after {
        transform: translateY(10px) rotate(45deg);
        background-color: white;
      }

      &:before {
        transform: translateY(-10px) rotate(-45deg);
        background-color: white;
      }
    }
  }
}

.hamburger__container {
  width: 30px;
  height: 24px;
  display: flex;
  flex-direction: column;
  position: relative;
}

.hamburger__line {
  @include hamburger-line();
  top: 50%;
  transform: translateY(-50%);

  &:after,
  &:before {
    @include hamburger-line();

    content: "";
    left: 0;
    transition: all 0.2s 0.2s ease-in-out;
  }

  &:after {
    top: -10px;
  }

  &:before {
    top: 10px;
  }
}

//div-container od menu hamburger
.navigation {
  width: 100vw;
  height: 100vh;
  overflow-y: hidden;
  background: linear-gradient(hsl(235, 100%, 93%), lightgray);
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  transition: transform 0.15s linear;
  transform: translateX(-100%);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  overflow: hidden;

  &__img {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 130px;
    filter: brightness(0.5);
  }

  //sex-choice
  &__sex-choice {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 130px;

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: grid;
    align-items: flex-end;
    justify-content: start;
    padding: 20px 40px;
    position: relative;
    border-bottom: 1px solid black;
  }

  &__sex-list {
    width: 300px;
    height: auto;
    display: grid;
    grid-template-columns: repeat(3, auto);
    grid-template-rows: auto;
    list-style: none;
    z-index: 2;
  }

  &__sex-item {
    border-left: 1px solid whitesmoke;
    width: auto;
    text-align: center;
  }

  &__sex-item:nth-child(1) {
    border-left: none;
  }

  &__sex-link {
    text-decoration: none;
    color: white;
    padding: 4px 10px;
    text-transform: capitalize;
  }

  &__sex-link--active {
    transition: 1s;
    border-bottom: 1px solid red;
  }

  //categories

  &__list {
    padding: 30px;
    margin-left: 25px;

    list-style: none;
  }

  &__item {}

  &__link {

    font-family: Arial, Helvetica, sans-serif;
    display: block;
    width: 100vw;
    padding: 25px 0;
    text-decoration: none;
    text-transform: uppercase;
    color: $default-color;
    border-bottom: 0.1px solid lightgray;
    letter-spacing: 1px;
    color: rgb(80, 75, 75);
    font-weight: bold;
    font-size: 14px;
    position: relative;

    &__span {
      position: absolute;
      right: 7%;
      top: 50%;
      transform: translateY(-50%);

      &-icon {
        font-size: 16px;
      }
    }

  }
}

.navigation--active {
  transform: translateX(0);
  overflow-y: hidden;
}