$default-color: white;

@mixin hamburger-line {
  width: 100%;
  height: 3px;
  background-color: $default-color;
  position: absolute;
  transition: all 0.1s 0.2s ease-in-out;
}

.hamburger {
  height: 40px;

  display: flex;
  cursor: pointer;
  background-color: transparent;
  border: none;
  z-index: 2;
  transition: all 0.2s 0.2s;
  position: absolute;
  right: 4%;



  @media (min-width: 1280px) {
    display: none;
  }

  outline: none;
}

.hamburger--active {
  padding: 20px;
  text-align: right;

  .hamburger__container {
    .hamburger__line {
      background-color: transparent;

      &:after {
        transform: translateY(8px) rotate(45deg);
        background-color: white;
      }

      &:before {
        transform: translateY(-8px) rotate(-45deg);
        background-color: white;
      }
    }
  }
}

.hamburger__container {
  width: 25px;
  height: 24px;
  display: flex;
  flex-direction: column;
  position: relative;
}

.hamburger__line {
  @include hamburger-line();
  top: 50%;
  transform: translateY(-50%);

  &:after,
  &:before {
    @include hamburger-line();

    content: "";
    left: 0;
    transition: all 0.2s 0.2s ease-in-out;
  }

  &:after {
    top: -8px;
  }

  &:before {
    top: 8px;
  }
}

//div-container od menu hamburger
.navigation-desktop {
  position: absolute;

  right: 5%;

  width: 400px;
  height: 45px;
  z-index: 2;

  @media (min-width: 1600px) {
    right: 5%;
    width: 600px;
  }

  &__sex-choice {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
  }

  //ul
  &__list {
    z-index: 5;
    position: absolute;
    transform: translateY(0.5px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    background-image: linear-gradient(rgba(78, 71, 71, 0.801),
        rgba(26, 26, 24, 0.746));
    list-style: none;
    visibility: hidden;
    height: 0;
    opacity: 0;
    width: 250px;
  }



  //li
  &__item {
    flex-grow: 1;
    margin: 8px 5px;
  }

  &__link {
    text-decoration: none;
    text-transform: uppercase;
    transform: translateX(400px);
    letter-spacing: 2px;
    padding: 10px;
    transition: 0.3s;
    position: relative;
    color: white;
    font-family: "Roboto Mono", monospace;
    text-transform: capitalize;
    font-size: 13px;
    font-weight: bolder;
    text-transform: uppercase;

    &:hover {
      transform: translateX(40px);
      margin-left: 9px;
    }
  }
}

.navigation {
  width: 100vw;
  height: 100vh;
  overflow-y: hidden;
  background: linear-gradient(hsl(235, 100%, 93%), lightgray);
  position: absolute;
  top: 0;
  left: 0;

  transition: transform 0.15s linear;
  transform: translateX(-100%);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  overflow: hidden;
  z-index: 4;

  @media (min-width: 1280px) {
    display: none;
  }

  &__img {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 200px;
    filter: brightness(0.4);
  }

  //sex-choice
  &__sex-choice {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 200px;
    overflow: hidden;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: grid;
    align-items: flex-end;
    justify-content: start;
    padding: 20px 10px;
    position: relative;
    border-bottom: 1px solid black;
  }

  &__sex-list {
    width: 350px;
    height: auto;
    display: grid;
    grid-template-columns: repeat(3, auto);
    grid-template-rows: auto;
    list-style: none;
    z-index: 2;

    @media (min-width: 1280px) {
      display: flex;
      width: 500px;
    }
  }

  &__sex-item {
    border-left: 1px solid whitesmoke;
    width: auto;
    text-align: center;

    @media (min-width: 1280px) {
      border: none;
      flex-grow: 1;
      position: relative;
      margin: 0 10px;

      @media (min-width: 1280px) {
        &::after {
          content: "";
          position: absolute;
          bottom: 0;
          left: 50%;
          width: 80%;
          height: 1px;
          background-color: red;
          transform: translateX(-100%);
          opacity: 1;
          transition: visibility 0.6s linear 1s;
          transition: transform 0.4s;
          visibility: hidden;
        }

        &:hover::after {
          visibility: visible;
          transform: translateX(-50%);
        }
      }
    }
  }

  &__sex-item:nth-child(1) {
    border-left: none;
  }

  &__list {
    padding: 30px;
    margin-left: 25px;

    list-style: none;
  }

  &__sex-link {
    text-decoration: none;
    color: white;
    padding: 4px 10px;
    text-transform: capitalize;

    @media (min-width: 1280px) {
      display: block;
      font-family: "Roboto", sans-serif;
      color: white;
      transition: 0.3s;
      border-bottom: none;
      padding: 10px;
      text-transform: uppercase;
      font-weight: 500;
      font-style: italic;
      font-size: 14px;
      position: relative;
    }
  }

  &__sex-link--active {
    transition: 1s;
    border-bottom: 1px solid red;

    @media (min-width: 1280px) {
      transition: 0.1s;
    }
  }

  //categories

  &__link {
    font-family: Arial, Helvetica, sans-serif;
    display: block;
    width: 100vw;
    padding: 25px 0;
    text-decoration: none;
    text-transform: uppercase;
    color: $default-color;
    border-bottom: 0.1px solid lightgray;
    letter-spacing: 1px;
    color: rgb(80, 75, 75);
    font-weight: bold;
    font-size: 14px;
    position: relative;

    &__span {
      position: absolute;
      right: 7%;
      top: 50%;
      transform: translateY(-50%);

      &-icon {
        font-size: 16px;
      }
    }
  }
}

.navigation--active {
  transform: translateX(0);

  overflow-y: hidden;
}

//460,640,800,1024,1280-desktop_small