.accout-options {
    display: grid;
    grid-template-columns: 90px 90px 90px;
    position: relative;

    @media (min-width:410px) {
        grid-template-columns: 100px 100px 100px;
    }

    &__link {
        text-decoration: none;
        color: black;
        text-align: center;

        .options-list,
        .options-shopping,
        .options-accout {
            text-align: center;
            z-index: 1;




        }


    }

    &__icon {

        font-size: 16px;
    }

    &__title {
        font-size: 12px;
        text-transform: capitalize;
        padding-top: 2px;
        letter-spacing: 1px;
    }

    &--active-list,
    &--active-shopping,
    &--active-accout {
        position: absolute;
        top: 100%;
        left: -15%;

        opacity: 0;
        width: 200px;
        height: 200px;
        background-color: red;
        text-align: center;
        margin: 0 5px;
        border: 1px solid black;
        transition: all .5s ease;
    }

    &--active-shopping {
        left: 20%;
    }

    &--active-accout {
        left: 50%;
    }

}

.options-list {
    position: relative;
    display: block;
    width: 80px;

    &__counter {
        position: absolute;
        right: 0%;
        top: 0%;
        color: white;
        width: 30px;
        font-size: 12px;
        text-align: center;
        font-weight: bold;


        &::after {
            position: absolute;
            top: 0;
            left: 0;
            content: "";
            width: 30px;
            height: 15px;
            background-color: darkorange;
            border-radius: 25px;
            z-index: -1;
        }
    }
}

.options-shopping {
    position: relative;
    display: block;
    width: 80px;
}