.account-options {
    width: 180px;
    display: grid;

    grid-template-columns: repeat(3, 60px);
    position: relative;



    &__link {
        text-decoration: none;
        color: rgb(236, 230, 230);
        font-size: 15px;
        text-align: center;

        @media (min-width: 1280px) {
            transform: translateY(0);
            transition: all .3s;
            //color: rgb(73, 70, 70);

            &:hover {
                transform: translateY(-3px);
                color: rgb(224, 219, 219);
            }
        }

        .options-list,
        .options-shopping,
        .options-account {
            text-align: center;
            z-index: 1;







        }



    }

    &__icon {

        font-size: 16px;
    }

    &__title {
        font-size: 12px;
        text-transform: capitalize;
        padding-top: 2px;
        letter-spacing: 1px;
    }

    &--active-list,
    &--active-shopping,
    &--active-account {
        position: absolute;
        top: 100%;
        left: -15%;

        opacity: 0;
        width: 200px;
        height: 200px;
        background-color: red;
        text-align: center;
        margin: 0 5px;
        border: 1px solid black;
        transition: all .5s ease;
    }

    &--active-shopping {
        left: 20%;
    }

    &--active-account {
        left: 50%;
    }

}

.options-list {
    position: relative;
    display: block;
    width: 60px;

    &__counter {
        position: absolute;
        right: 0%;
        top: 0%;
        color: white;
        width: 20px;
        font-size: 12px;
        text-align: center;
        font-weight: bold;


        &::after {
            position: absolute;
            top: 0;
            left: 0%;
            content: "";
            width: 100%;
            height: 15px;
            background-color: darkorange;
            border-radius: 25px;
            z-index: -1;
        }
    }
}

.options-shopping {
    position: relative;
    display: block;
    width: 80px;
}