.start-page {
  height: 100vh;
  width: 50%;
  background-color: rgba(255, 255, 255, 0.9);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  position: absolute;
  left: 50%;
  transform: translateX(-50%); }
  .start-page__link:nth-child(2) {
    border-top: 0.5px solid #c2bfbf;
    padding: 40px; }
  .start-page__link {
    padding: 20px;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 1px;
    word-spacing: 6px;
    font-size: 20px;
    margin: 20px 0;
    text-align: center;
    width: 100%;
    position: relative;
    color: black; }
    .start-page__link::after {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 2px;
      background-color: red;
      transform: translateX(100%);
      transition: .4s; }
    .start-page__link:hover::after {
      transform: translateX(0); }
  @media (max-width: 550px) {
    .start-page__link {
      font-size: 15px; } }

.register {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 550px;
  height: 650px;
  background-color: rgba(0, 0, 0, 0.7);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  overflow: hidden; }
  .register__title {
    text-transform: capitalize;
    font-size: 35px;
    margin: 10px;
    color: yellow; }
  .register__form {
    width: 70%;
    flex-basis: 70%;
    margin: 0 auto;
    padding: 40px;
    height: auto;
    display: grid;
    grid-template-columns: 160px 160px;
    grid-template-rows: 20px 20px 20px;
    gap: 40px 10px;
    position: relative; }
    .register__form-data {
      border: none;
      background-color: transparent;
      font-size: 16px;
      color: #b4b3b3;
      position: relative;
      outline: none;
      padding: 20px 0;
      border-bottom: 2px solid gray;
      letter-spacing: 1px;
      transition: .3s;
      outline-color: none; }
      .register__form-data:focus {
        color: white;
        border-color: white; }
    .register__form-email {
      grid-column-start: 1;
      grid-column-end: 3; }
    .register__form-btn {
      grid-column-start: 1;
      grid-column-end: 3;
      width: 100%;
      height: 50px;
      margin: 10px auto;
      border-radius: 25px;
      border: none;
      background-color: #db3998;
      color: white;
      cursor: pointer;
      text-transform: capitalize;
      font-size: 15px;
      transition: .4s; }
      .register__form-btn:hover {
        background-color: yellow;
        color: black;
        letter-spacing: 1px; }
    .register__form-errorText {
      position: absolute;
      color: red;
      width: 100%;
      text-align: center;
      font-size: 13px;
      top: 3%;
      left: 50%;
      transform: translateX(-50%);
      text-transform: uppercase;
      font-family: Verdana, Geneva, Tahoma, sans-serif;
      font-weight: bold; }

@media (max-width: 650px) {
  .register {
    width: 380px;
    height: 550px; }
    .register__form {
      display: flex;
      flex-direction: column; }
      .register__form-btn {
        width: 80%;
        height: 40px;
        margin: 20px auto;
        transition: .4s; }
        .register__form-btn:hover {
          background-color: yellow;
          color: black;
          letter-spacing: 1px; } }

.createdUser__title {
  color: white;
  word-spacing: 6px;
  letter-spacing: 1px;
  text-align: center; }

.createdUser__link {
  text-decoration: none;
  text-transform: capitalize;
  padding: 20px;
  font-size: 30px;
  letter-spacing: 1.5px;
  transition: .3s;
  margin-top: 30px;
  color: #121e2f; }
  .createdUser__link:hover {
    color: red; }

.login {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 550px;
  height: 650px;
  background-color: rgba(0, 0, 0, 0.7);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  overflow: hidden; }
  .login__title {
    text-transform: capitalize;
    font-size: 35px;
    margin: 10px;
    color: yellow; }
  .login__form {
    width: 70%;
    flex-basis: 70%;
    margin: 10px auto;
    padding: 20px 5px;
    height: auto;
    display: grid;
    grid-template-columns: 160px;
    grid-template-rows: 50px;
    gap: 40px 10px; }
    .login__form-data {
      border: none;
      background-color: transparent;
      font-size: 16px;
      color: #b4b3b3;
      position: relative;
      outline: none;
      padding: 20px 0;
      border-bottom: 2px solid gray;
      letter-spacing: 1px;
      transition: .3s; }
      .login__form-data:focus {
        color: white;
        border-color: white;
        outline-style: none; }
    .login__form-submit {
      grid-column-start: 1;
      grid-column-end: 3;
      width: 100%;
      height: 50px;
      margin: 10px auto;
      border-radius: 25px;
      border: none;
      background-color: #db3998;
      color: white;
      cursor: pointer;
      text-transform: capitalize;
      font-size: 15px;
      transition: .4s; }
      .login__form-submit:hover {
        background-color: yellow;
        color: black;
        letter-spacing: 1px; }

@media (max-width: 800px) {
  .login {
    width: 300px;
    height: 400px; }
    .login__form {
      width: 60%;
      display: flex;
      flex-direction: column;
      margin: 10px auto;
      padding: 10px 5px;
      gap: 40px 5px; }
      .login__form-data {
        font-size: 12px;
        padding: 10px 0;
        margin: 5px 0; }
      .login__form-submit {
        width: 70%;
        height: 40px; } }

.container {
  width: 100vw;
  min-height: 100vh; }

.product-wrapper {
  width: 100%;
  height: 100%;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 10px;
  overflow: hidden; }

.product-exit {
  position: absolute;
  top: 2.5%;
  left: 2.5%;
  border: none;
  background-color: transparent;
  font-size: 18px;
  outline: none;
  transition: font-size .3s ease; }
  .product-exit:hover {
    font-size: larger; }

.product-details {
  position: relative;
  width: 100%;
  min-height: 650px; }
  @media (min-width: 800px) {
    .product-details {
      width: 60%;
      margin-top: 20px; } }
  @media (min-width: 1024px) {
    .product-details {
      width: 80%;
      height: 400px;
      display: grid;
      grid-template-columns: 300px auto;
      grid-template-rows: 600px 300px;
      min-height: 300px; } }
  .product-details__price {
    margin-top: 80px; }
  .product-details .search {
    display: none; }
  .product-details .product-favourite {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: white;
    text-align: center;
    line-height: 30px;
    margin: 10px 3px 0 0; }
    @media (min-width: 800px) {
      .product-details .product-favourite {
        top: 3%; } }
    .product-details .product-favourite-icon {
      font-size: 20px;
      font-weight: bold; }
  .product-details__img {
    margin-top: 20px;
    width: 100%;
    height: 60%;
    filter: brightness(0.5); }
    @media (min-width: 800px) {
      .product-details__img {
        display: block;
        margin: 0 auto;
        width: 95%; } }
  .product-details__company {
    letter-spacing: 1px;
    padding: 10px 20px;
    font-size: 13px;
    text-transform: capitalize; }
  .product-details__type {
    text-transform: capitalize;
    padding: 7px 20px;
    font-size: 17px;
    letter-spacing: 2px; }
  .product-details__price {
    margin-top: 20px; }
  .product-details__actual_price {
    color: #c82c2c;
    font-weight: bold;
    font-size: 22px;
    padding: 5px 10px; }
  .product-details__vat {
    margin: 0 5px;
    color: #cfcccc;
    font-size: 12px; }
  .product-details__promotion {
    color: #ff0606;
    padding: 1px 10px;
    font-size: 12px; }
  .product-details__color {
    padding: 20px 10px;
    font-size: 12px; }
    @media (min-width: 1024px) {
      .product-details__color {
        font-size: 14px; } }

.options {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 400px; }
  @media (min-width: 800px) {
    .options {
      width: 60%; } }
  .options__type {
    font-size: 11px;
    margin-left: 35px;
    padding: 3px; }
  .options__size {
    margin: 0 auto;
    width: 80%;
    padding: 7px;
    transition: .2s; }
    .options__size--active {
      background-color: rgba(233, 104, 104, 0.986);
      font-size: 15px;
      padding: 8px; }
  .options__btn {
    width: 80%;
    background-color: #ff4e00;
    margin: 13px auto;
    border: none;
    height: 50px;
    position: relative;
    border-radius: 5px;
    outline: none; }
    .options__btn-text {
      text-align: left;
      color: white;
      font-weight: bold;
      letter-spacing: 1px;
      display: block;
      width: 90%;
      font-size: 13px;
      margin-left: 16px; }
    .options__btn-icon {
      position: absolute;
      right: 5%;
      top: 50%;
      transform: translateY(-50%);
      font-size: 16px;
      color: white; }
    .options__btn--active .options__btn-icon {
      animation: addToList .8s ease-in-out 1; }

@keyframes addToList {
  from {
    font-size: 22px; }
  to {
    font-size: 16px; } }

.transport {
  height: 90px;
  display: flex;
  flex-direction: column;
  padding: 22px 0 0 20px; }
  .transport__transport {
    display: flex;
    flex-grow: 1; }
  .transport-icon {
    font-size: 15px; }
  .transport__text {
    padding-left: 10px;
    font-size: 12px; }
    .transport__text-important {
      font-weight: bolder;
      font-size: 13px;
      padding-right: 6px; }
      @media (min-width: 1024px) {
        .transport__text-important {
          font-size: 15px; } }

.accout-options {
  width: 180px;
  display: grid;
  grid-template-columns: repeat(3, 60px);
  position: relative; }
  .accout-options__link {
    text-decoration: none;
    color: black;
    text-align: center; }
    .accout-options__link .options-list,
    .accout-options__link .options-shopping,
    .accout-options__link .options-accout {
      text-align: center;
      z-index: 1; }
  .accout-options__icon {
    font-size: 16px; }
  .accout-options__title {
    font-size: 12px;
    text-transform: capitalize;
    padding-top: 2px;
    letter-spacing: 1px; }
  .accout-options--active-list, .accout-options--active-shopping, .accout-options--active-accout {
    position: absolute;
    top: 100%;
    left: -15%;
    opacity: 0;
    width: 200px;
    height: 200px;
    background-color: red;
    text-align: center;
    margin: 0 5px;
    border: 1px solid black;
    transition: all .5s ease; }
  .accout-options--active-shopping {
    left: 20%; }
  .accout-options--active-accout {
    left: 50%; }

.options-list {
  position: relative;
  display: block;
  width: 60px; }
  .options-list__counter {
    position: absolute;
    right: 0%;
    top: 0%;
    color: white;
    width: 20px;
    font-size: 12px;
    text-align: center;
    font-weight: bold; }
    .options-list__counter::after {
      position: absolute;
      top: 0;
      left: 0%;
      content: "";
      width: 100%;
      height: 15px;
      background-color: darkorange;
      border-radius: 25px;
      z-index: -1; }

.options-shopping {
  position: relative;
  display: block;
  width: 80px; }

.product-favourite--active {
  animation: addToFavourite .3s linear 1;
  transition: .2s; }
  .product-favourite--active span {
    color: red; }

@keyframes addToFavourite {
  from {
    background-color: #d68282;
    transform: scale(1.1);
    opacity: 0.5; }
  to {
    background-color: #d68282;
    transform: scale(1.3);
    opacity: 1; } }

.footer {
  border-top: 1px solid #c0baba;
  color: white;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  min-height: 350px; }
  .footer__elements {
    display: flex;
    flex-direction: column;
    max-height: 250px;
    margin: 10px 40px; }
    .footer__elements-title {
      text-align: center;
      padding: 25px;
      letter-spacing: 2px;
      position: relative; }
      .footer__elements-title::after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        width: 25%;
        height: 1px;
        border-radius: 20px;
        background: white; }
    .footer__elements-promotion {
      font-size: 12px;
      margin-top: 30px;
      text-transform: uppercase;
      letter-spacing: 1.5px;
      text-align: center; }
    .footer__elements-text {
      width: 260px;
      font-size: 13px;
      text-align: center;
      padding: 15px;
      letter-spacing: 1px;
      font-family: sans-serif; }
  .footer__info {
    border-top: 1px solid #c0baba;
    padding: 5px;
    width: 100%;
    min-height: 60px;
    display: flex;
    justify-content: flex-end;
    align-items: center; }
    .footer__info-text {
      width: 220px;
      text-align: center;
      font-size: 11px;
      letter-spacing: 1px;
      margin: 10px 40px; }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  overflow-x: hidden;
  font-family: 'Lato', sans-serif;
  min-height: 100vh;
  background-image: url(/images/backgroundd63fc42fd792a36202117c1b659c40ee.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center; }

.header {
  width: 100vw;
  height: 50px;
  background-color: white;
  display: flex;
  overflow: hidden;
  padding: 0px 15px;
  border-bottom: 2px solid #ebe9e9; }
  .header .components {
    width: 100%;
    height: 40px;
    background-color: white;
    display: flex;
    align-items: center;
    position: relative;
    padding: 5px 5px; }
    .header .components .search-panel {
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative; }
      .header .components .search-panel__btn {
        background-color: transparent;
        border: none;
        font-size: 20px;
        outline: none;
        margin-left: 9px; }
      .header .components .search-panel__search {
        width: 80%;
        display: flex;
        transform: translateX(-200%);
        justify-content: center;
        align-items: center;
        transition: 0.7s;
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 50px;
        background-color: rgba(0, 0, 0, 0.8);
        transition: 0.4s;
        z-index: 8; }
        .header .components .search-panel__search--active {
          transform: translateX(0); }
        .header .components .search-panel__search-input {
          width: 80%;
          height: 60%;
          padding: 10px;
          border: none; }
        .header .components .search-panel__search-exit {
          margin-left: 25px;
          background-color: transparent;
          border: none; }
          .header .components .search-panel__search-exit > span {
            font-size: 22px;
            position: absolute;
            top: 50%;
            right: 5%;
            transform: translateY(-50%);
            color: red; }
    .header .components .logo {
      position: absolute;
      left: 15%;
      top: 50%;
      transform: translateY(-50%);
      margin-left: 10px;
      height: 30px; }
      .header .components .logo img {
        height: 100%; }
    .header .components__menu-type {
      display: none; }
    .header .components .accout-options, .header .components__logo {
      position: absolute;
      right: 5%;
      top: 10%; }

.hamburger {
  height: 40px;
  display: flex;
  cursor: pointer;
  background-color: transparent;
  border: none;
  z-index: 8;
  transition: all 0.2s 0.2s;
  outline: none; }
  @media (min-width: 1280px) {
    .hamburger {
      display: none; } }

.hamburger--active {
  padding: 20px;
  text-align: right; }
  .hamburger--active .hamburger__container .hamburger__line {
    background-color: transparent; }
    .hamburger--active .hamburger__container .hamburger__line:after {
      transform: translateY(6px) rotate(45deg);
      background-color: white; }
    .hamburger--active .hamburger__container .hamburger__line:before {
      transform: translateY(-6px) rotate(-45deg);
      background-color: white; }

.hamburger__container {
  width: 20px;
  height: 24px;
  display: flex;
  flex-direction: column;
  position: relative; }

.hamburger__line {
  width: 100%;
  height: 2px;
  background-color: #333;
  position: absolute;
  transition: all 0.1s 0.2s ease-in-out;
  top: 50%;
  transform: translateY(-50%); }
  .hamburger__line:after, .hamburger__line:before {
    width: 100%;
    height: 2px;
    background-color: #333;
    position: absolute;
    transition: all 0.1s 0.2s ease-in-out;
    content: "";
    left: 0;
    transition: all 0.2s 0.2s ease-in-out; }
  .hamburger__line:after {
    top: -6px; }
  .hamburger__line:before {
    top: 6px; }

.navigation {
  width: 100vw;
  height: 100vh;
  overflow-y: hidden;
  background: linear-gradient(#dbdeff, lightgray);
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  transition: transform 0.15s linear;
  transform: translateX(-100%);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  overflow: hidden;
  z-index: 7; }
  @media (min-width: 1280px) {
    .navigation {
      display: initial;
      display: none;
      transform: translateX(0);
      height: 400px; } }
  .navigation__img {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 130px;
    filter: brightness(0.5); }
    @media (min-width: 1280px) {
      .navigation__img {
        display: none; } }
  .navigation__sex-choice {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 130px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: grid;
    align-items: flex-end;
    justify-content: start;
    padding: 20px 40px;
    position: relative;
    border-bottom: 1px solid black; }
    @media (min-width: 1280px) {
      .navigation__sex-choice {
        transform: translateX(0);
        border-bottom: none;
        align-items: initial;
        justify-content: initial; } }
  .navigation__sex-list {
    width: 300px;
    height: auto;
    display: grid;
    grid-template-columns: repeat(3, auto);
    grid-template-rows: auto;
    list-style: none;
    z-index: 2; }
  .navigation__sex-item {
    border-left: 1px solid whitesmoke;
    width: auto;
    text-align: center; }
    @media (min-width: 1280px) {
      .navigation__sex-item {
        border-left: none; } }
  .navigation__sex-item:nth-child(1) {
    border-left: none; }
  .navigation__sex-link {
    text-decoration: none;
    color: white;
    padding: 4px 10px;
    text-transform: capitalize; }
    @media (min-width: 1280px) {
      .navigation__sex-link:hover .navigation__sex-link__list {
        color: red; } }
  .navigation__list {
    padding: 30px;
    margin-left: 25px;
    list-style: none; }
  .navigation__sex-link--active {
    transition: 1s;
    border-bottom: 1px solid red; }
  .navigation__link {
    font-family: Arial, Helvetica, sans-serif;
    display: block;
    width: 100vw;
    padding: 25px 0;
    text-decoration: none;
    text-transform: uppercase;
    color: #333;
    border-bottom: 0.1px solid lightgray;
    letter-spacing: 1px;
    color: #504b4b;
    font-weight: bold;
    font-size: 14px;
    position: relative; }
    @media (min-width: 1280px) {
      .navigation__link {
        width: 80px; } }
    .navigation__link__span {
      position: absolute;
      right: 7%;
      top: 50%;
      transform: translateY(-50%); }
      @media (min-width: 1280px) {
        .navigation__link__span {
          display: none; } }
      .navigation__link__span-icon {
        font-size: 16px; }

.navigation--active {
  transform: translateX(0);
  overflow-y: hidden; }

.main {
  min-height: 100vh;
  background-color: white;
  width: 100%; }

:root {
  --btnHeight: 40px; }

.slider {
  margin: 0 auto;
  height: 250px;
  width: 100vw;
  position: relative;
  z-index: 1;
  background-color: teal; }
  @media (min-width: 800px) {
    .slider {
      height: 300px; } }
  @media (min-width: 1024px) {
    .slider {
      height: 400px; } }
  .slider__lines {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 10%;
    right: 5%; }
  .slider__line {
    width: 3px;
    height: 14px;
    background-color: white;
    flex-grow: 1;
    margin: 5px 0;
    border-radius: 10px; }
  .slider__line--active {
    transition: .4s;
    background-color: red;
    transform: translateX(-2px); }
  .slider__img {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    filter: brightness(0.9); }
  .slider__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 250px;
    position: absolute;
    top: 20%;
    left: 5%;
    visibility: hidden;
    z-index: 2;
    padding: 7px; }
    @media (min-width: 1024px) {
      .slider__content {
        width: 350px;
        padding: 20px 5px; } }
    .slider__content::after {
      content: '';
      position: absolute;
      height: 100%;
      width: 100%;
      left: 0%;
      top: 0%;
      z-index: -1;
      background-color: rgba(0, 0, 0, 0.527); }
  .slider__title {
    text-transform: uppercase;
    color: white;
    letter-spacing: 3px;
    font-size: 10px;
    opacity: 1;
    text-transform: uppercase;
    visibility: hidden;
    z-index: 1;
    transform: translateY(-50px); }
    @media (min-width: 1024px) {
      .slider__title {
        font-size: 12px; } }
  .slider__text {
    margin: 10px auto;
    text-transform: capitalize;
    font-size: 20px;
    visibility: hidden;
    transform: translateX(-90px);
    color: white;
    text-align: center; }
    @media (min-width: 1024px) {
      .slider__text {
        font-size: 24px; } }
  .slider__btn {
    padding: 0 10px;
    margin-top: 15px;
    height: var(--btnHeight);
    text-transform: uppercase;
    text-align: center;
    line-height: var(--btnHeight);
    opacity: 0;
    border: none;
    outline: none;
    font-weight: bold;
    letter-spacing: 1px;
    background-color: tomato;
    color: white;
    transform: translateY(90px);
    font-size: 12px; }
    @media (min-width: 1024px) {
      .slider__btn {
        padding: 0 20px; } }
    .slider__btn .fas {
      font-size: 20px;
      color: black; }
  .slider__icon-left {
    position: absolute;
    bottom: 5%;
    left: 2.5%;
    transform: translateY(-50%);
    color: tomato; }
    @media (min-width: 1024px) {
      .slider__icon-left {
        font-size: 18px; } }
  .slider__icon-right {
    position: absolute;
    bottom: 5%;
    right: 2.5%;
    transform: translateY(-50%);
    color: tomato; }
    @media (min-width: 1024px) {
      .slider__icon-right {
        font-size: 18px; } }

.footer {
  height: 300px;
  background-color: #464646; }

.quality {
  min-height: 150px;
  border-bottom: 0.1px solid #c2baba;
  padding: 20px;
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: repeat(auto-fill, 150px);
  align-items: center;
  justify-content: center; }
  .quality .service {
    font-size: 13px;
    font-family: Arial, Helvetica, sans-serif;
    padding: 10px; }
    .quality .service__options {
      word-spacing: 3px;
      text-align: center; }
    .quality .service__icon {
      font-size: 30px;
      color: #afadad; }
    .quality .service__title {
      font-weight: bold;
      padding: 0 3px 0 20px;
      font-size: 14px; }
  .quality .service:nth-last-child(1) {
    grid-column: 1/3; }
  @media (min-width: 490px) {
    .quality .service:nth-last-child(1) {
      grid-column: auto; } }

@media (min-width: 930px) {
  .quality {
    grid-template-columns: repeat(5, auto);
    justify-content: space-around; } }

.search {
  height: 50px;
  position: relative; }
  .search__filtr {
    min-width: 70px;
    height: auto;
    position: absolute;
    right: 3%;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    justify-content: space-around;
    align-items: center; }
    .search__filtr button {
      color: black;
      font-size: 19px;
      background-color: transparent;
      border: none;
      outline: none; }
  .search__text {
    color: black; }
  .search--active {
    overflow: hidden;
    z-index: 8;
    transform: translateY(0);
    transition: 0.5s;
    will-change: transform; }
  .search__unactive {
    transform: translateY(-100vh);
    transition: 0.5s; }
  .search__name {
    position: absolute;
    text-transform: uppercase;
    left: 3%;
    top: 50%;
    transform: translateY(-50%);
    font-size: 15px; }

.filter {
  position: fixed;
  top: 0;
  left: 0;
  background-color: white;
  width: 100vw;
  height: 100vh;
  overflow-y: hidden; }
  .filter__btn {
    position: absolute;
    top: 1.5%;
    left: 2%;
    background-color: transparent;
    border: none; }
    .filter__btn span {
      font-size: 20px; }
  .filter__title {
    text-align: center;
    text-transform: uppercase;
    padding: 10px;
    font-size: 20px; }
  .filter__element {
    width: 100%;
    height: 50px;
    padding: 10px 20px;
    text-transform: capitalize;
    font-weight: bold;
    letter-spacing: 1px;
    line-height: 25px;
    position: relative; }
    .filter__element-icon {
      position: absolute;
      top: 50%;
      right: 6%;
      transform: translateY(-50%);
      font-size: 20px; }
  .filter__price {
    display: grid;
    flex-direction: column;
    grid-template-rows: repeat(3, auto);
    height: auto;
    position: relative; }
    .filter__price-promotion {
      padding-top: 9px;
      font-size: 14px; }
    .filter__price-check {
      margin: 0 7px; }
    .filter__price input[type=range] {
      -webkit-appearance: none;
      width: 100%;
      margin: 11.8px 0; }
    .filter__price input[type=range]:focus {
      outline: none; }
    .filter__price input[type=range]::-webkit-slider-runnable-track {
      width: 100%;
      height: 5px;
      cursor: pointer;
      box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
      background: #3071a9;
      border-radius: 1.3px;
      border: 0.2px solid #010101; }
    .filter__price input[type=range]::-webkit-slider-thumb {
      box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
      border: 0.1px solid #000000;
      height: 22px;
      width: 22px;
      border-radius: 29px;
      background: rgba(166, 237, 253, 0.95);
      cursor: pointer;
      -webkit-appearance: none;
      margin-top: -9px; }
    .filter__price input[type=range]:focus::-webkit-slider-runnable-track {
      background: #367ebd; }
    .filter__price input[type=range]::-moz-range-track {
      width: 100%;
      height: 8.4px;
      cursor: pointer;
      box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
      background: #3071a9;
      border-radius: 1.3px;
      border: 0.2px solid #010101; }
    .filter__price input[type=range]::-moz-range-thumb {
      box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
      border: 0.1px solid #000000;
      height: 32px;
      width: 32px;
      border-radius: 29px;
      background: rgba(166, 237, 253, 0.95);
      cursor: pointer; }
    .filter__price input[type=range]::-ms-track {
      width: 100%;
      height: 8.4px;
      cursor: pointer;
      background: transparent;
      border-color: transparent;
      color: transparent; }
    .filter__price input[type=range]::-ms-fill-lower {
      background: #2a6495;
      border: 0.2px solid #010101;
      border-radius: 2.6px;
      box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d; }
    .filter__price input[type=range]::-ms-fill-upper {
      background: #3071a9;
      border: 0.2px solid #010101;
      border-radius: 2.6px;
      box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d; }
    .filter__price input[type=range]::-ms-thumb {
      box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
      border: 0.1px solid #000000;
      height: 32px;
      width: 32px;
      border-radius: 29px;
      background: rgba(166, 237, 253, 0.95);
      cursor: pointer;
      height: 8.4px; }
    .filter__price input[type=range]:focus::-ms-fill-lower {
      background: #3071a9; }
    .filter__price input[type=range]:focus::-ms-fill-upper {
      background: #367ebd; }
    .filter__price-scope {
      position: absolute;
      top: 10%;
      right: 5%;
      color: #8d8b8b; }
    .filter__price-input_scope {
      margin: 15px 0 6px 0; }
  .filter__sort-options {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: white;
    transform: translateX(100%);
    transition: 0.2s;
    z-index: 2; }
    .filter__sort-options_title {
      text-transform: uppercase;
      color: black;
      text-align: center;
      font-size: 18px;
      padding: 10px; }
  .filter__sort-options--active {
    transform: translateX(0%); }
  .filter__exit {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 60px;
    background-color: black; }
    .filter__exit-item {
      text-align: center;
      text-transform: uppercase;
      color: white;
      line-height: 60px; }
    .filter__exit-btn {
      position: absolute;
      left: 5%;
      bottom: 50%;
      transform: translateY(50%);
      background-color: transparent;
      border: none;
      padding: 15px 12px;
      outline: none; }
    .filter__exit-icon {
      color: white;
      font-size: 16px; }

.sorting {
  display: flex;
  flex-direction: column;
  padding: 15px;
  position: relative; }
  .sorting__element {
    text-transform: capitalize;
    font-size: 15px;
    padding: 15px 5px; }
    .sorting__element--active {
      color: orange; }
  .sorting__clear {
    font-weight: bold;
    text-transform: uppercase;
    color: red;
    position: absolute;
    right: 2%;
    top: 9%;
    padding: 0 10px;
    font-size: 13px; }
    .sorting__clear::before {
      content: "";
      position: absolute;
      left: 0;
      height: 100%;
      width: 1px;
      background-color: red; }

.size {
  display: flex;
  flex-wrap: wrap;
  padding: 20px; }
  .size__element {
    display: block;
    width: 70px;
    height: 70px;
    text-align: center;
    line-height: calc(70px / 2);
    font-weight: bold;
    border: 1px solid black;
    margin: 5px;
    padding: 15px; }
    .size__element--active {
      border-color: orange;
      color: orange; }
  .size__clear {
    top: 1.9%; }

.mark {
  display: flex;
  flex-direction: column;
  padding: 20px; }
  .mark__element {
    word-spacing: 4px;
    text-transform: capitalize;
    padding: 18px 0; }
    .mark__element--active {
      color: orange; }
  .mark__element::first-letter {
    font-size: 18px;
    font-weight: bold; }

.product-container {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(auto-fill, 160px);
  gap: 0 12px;
  padding-top: 10px; }

@media (min-width: 1490px) {
  .product-container {
    max-width: 1500px;
    margin: 0 auto; } }

.product {
  width: 150px;
  height: 360px;
  z-index: 1;
  margin: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative; }
  .product__picture {
    height: 70%;
    z-index: 1;
    width: 100%;
    filter: brightness(0.5); }
  .product__title {
    width: 100%;
    font-size: 12px;
    font-weight: bold;
    height: 30px;
    padding-left: 10px;
    line-height: 35px;
    position: relative; }
    .product__title span {
      text-transform: uppercase;
      font-size: 10px; }
    .product__title::after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      width: 30px;
      height: 1px;
      background-color: red;
      margin-left: 10px; }
  .product__price {
    width: 100%;
    font-size: 13px;
    padding-left: 10px;
    margin-top: 2px; }

.product-favourite {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: white;
  text-align: center;
  line-height: 30px;
  margin: 10px 3px 0 0;
  position: absolute;
  right: 5%;
  top: 7%;
  opacity: 0.8;
  z-index: 2; }

@media (max-width: 335px) {
  .product-container {
    grid-template-columns: repeat(auto-fill, 280px); }
  .product {
    width: 270px;
    height: 510px;
    border-bottom: 0.05px solid black; }
  .product-favourite {
    margin-top: 25px; } }

.wish-list {
  width: 100vw;
  min-height: 100vh;
  background-color: #e7e3e3;
  position: relative; }
  .wish-list__content {
    width: 100vw;
    height: 250px;
    background-color: white;
    position: relative; }
  .wish-list__title {
    font-family: 'Roboto Mono', monospace;
    position: absolute;
    left: 5%;
    bottom: 3%;
    font-size: 30px;
    text-transform: capitalize;
    padding: 20px;
    word-spacing: 3px; }
  .wish-list .products {
    display: flex;
    flex-wrap: wrap; }
  .wish-list__nothing {
    color: red;
    padding: 25px 0 25px 25px;
    display: inline-block; }
  .wish-list__nothing-icon {
    padding-left: 7px;
    font-size: 22px; }

.shop-list {
  min-height: 120vh;
  background-color: white;
  display: flex;
  flex-direction: column; }

.accout-options {
  margin: 0 auto;
  padding: 10px;
  overflow: hidden;
  z-index: 3; }

.products {
  margin: 0 auto;
  width: 100vw;
  min-height: 120vh;
  background-color: #E0E0E0;
  position: relative; }
  .products__length {
    position: absolute;
    top: 0;
    left: 0;
    padding: 15px 20px;
    font-size: 18px;
    font-family: "Roboto Mono", monospace;
    letter-spacing: 1px;
    z-index: 1; }
  .products__img {
    width: 95px;
    height: 60%;
    filter: brightness(0.6);
    margin: 0 15px; }
  .products__product {
    display: flex;
    align-items: center;
    width: 100%;
    height: 250px;
    background-color: white;
    margin: 10px auto;
    position: relative;
    border-radius: 1px;
    border-top: 0.5px solid #ece9e9; }
  .products__info {
    display: flex;
    flex-direction: column; }
    .products__info-content {
      color: #424242;
      padding: 2px 5px;
      letter-spacing: 1px; }
  .products__delete {
    position: absolute;
    top: 3.5%;
    right: 3.5%;
    transition: 0.2s; }
    .products__delete-icon {
      font-size: 22px; }
    .products__delete--active .products__delete-icon {
      animation: bigger 0.2s ease 1; }
  .products__quantity {
    width: 90px;
    height: 40px;
    margin: 6px 0px; }
  .products__price {
    display: flex;
    width: 200px;
    font-weight: bold;
    position: relative;
    font-size: 14px; }
    .products__price-item {
      color: #cc1313;
      font-weight: bold;
      letter-spacing: 1px;
      margin-left: 20px; }
    .products__price-saved {
      position: absolute;
      bottom: -115%;
      left: 5%;
      font-size: 12px;
      color: #db1818;
      letter-spacing: 1px; }
  .products__promotion {
    text-decoration: line-through; }
  .products__no-things {
    font-size: 22px;
    color: red;
    text-align: center;
    padding-top: 35px;
    letter-spacing: 1px;
    line-height: 30px;
    margin: 0 10px; }
    .products__no-things-icon {
      font-size: 25px;
      color: black; }

.fees {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 90px;
  background-color: white; }
  .fees__price {
    height: 50%;
    line-height: 45px;
    font-weight: bold;
    letter-spacing: 0.5px;
    position: relative;
    font-size: 12px;
    margin-left: 10px; }
    @media (min-width: 410px) {
      .fees__price {
        letter-spacing: 1px;
        font-size: 13px; } }
    .fees__price-item {
      position: absolute;
      top: 0;
      right: 0;
      color: #db1818;
      margin-right: 10px;
      font-size: 15px; }
  .fees__next-step {
    background-color: #ff4e00;
    color: white;
    width: 100%;
    height: 50%;
    border: none;
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
    line-height: 45px;
    font-size: 13px;
    letter-spacing: 1px; }

.transport {
  min-height: 135px;
  padding: 20px;
  background-color: white;
  margin: 17px 0; }
  .transport__title {
    font-size: 22px;
    letter-spacing: 1px; }
  .transport__content {
    padding-top: 10px; }

.payment-methods {
  height: 115px;
  padding: 20px;
  background-color: white; }
  .payment-methods__title {
    font-size: 22px;
    letter-spacing: 1px; }
  .payment-methods-icons {
    padding-top: 10px; }
    .payment-methods-icons > span {
      font-size: 40px;
      margin: 0 4px; }

.payment {
  position: absolute;
  top: 8.5%;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: white;
  border-top: 0.05px solid #ebe8e8;
  transform: translateX(-100%);
  transition: .2s;
  z-index: 2; }
  .payment--active {
    transform: translateX(0%); }

@keyframes bigger {
  from {
    transform: scale(1.3); }
  to {
    transform: scale(1); } }

.buy-product {
  width: 100%;
  height: 100vh;
  background-color: white;
  display: flex;
  flex-direction: column; }
  .buy-product__steps {
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 70px;
    background-color: white;
    position: relative;
    padding: 10px 0;
    border-top: 0.5px solid #dfdfdf; }
    .buy-product__steps-info {
      width: 30px;
      height: 30px;
      border-radius: 50%;
      border: 0.5px solid black;
      text-align: center;
      line-height: 30px;
      z-index: 2;
      margin: 0 5%;
      background-color: white;
      font-weight: bold;
      font-size: 14px; }
      .buy-product__steps-info--active {
        background-color: #ff4e00;
        color: white; }
    .buy-product__steps::after {
      content: "";
      position: absolute;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 45%;
      height: 1px;
      background-color: lightgray;
      z-index: 1; }

.adres {
  display: flex;
  flex-direction: column; }
  .adres__title {
    text-transform: uppercase;
    letter-spacing: 1px;
    padding: 8px 15px;
    font-size: 17px; }
  .adres__location {
    margin: 0 auto;
    width: 95%;
    border-top: 0.05px solid lightgray;
    padding: 25px 10px; }
    .adres__location-form {
      display: flex;
      flex-direction: column; }
      .adres__location-form_data {
        margin: 12px 0;
        border: none;
        outline: none;
        border-bottom: 0.5px solid black;
        transition: 0.3s;
        padding: 5px;
        font-size: 14px; }
        .adres__location-form_data:focus {
          border-color: lightskyblue;
          font-size: 15px; }
  .adres__data {
    margin: 0 auto;
    width: 95%;
    border-top: 0.05px solid lightgray;
    border-bottom: 0.05px solid lightgray;
    font-size: 15px;
    padding: 15px 10px;
    text-align: center; }
  .adres__data-phone {
    margin-top: 8px;
    padding: 10px; }
    .adres__data-phone_number {
      text-transform: uppercase;
      font-size: 15px;
      font-weight: bold; }
  .adres__data-number {
    border: none;
    padding: 5px;
    margin: 25px 10px;
    width: 250px;
    height: 25px;
    outline: none;
    border-bottom: 0.5px solid brown;
    font-size: 14px;
    transition: 0.4s; }
    .adres__data-number:focus {
      border-color: red;
      font-size: 16px;
      padding: 7px; }
  .adres__btn {
    margin: 0 auto;
    border-radius: 5px;
    margin-top: 10px;
    display: block;
    width: 250px;
    height: 40px;
    background-color: #ff4e00;
    text-align: center;
    line-height: 40px;
    color: white;
    font-weight: bold;
    text-transform: uppercase;
    border: none;
    outline: none; }

.account {
  width: 100%;
  height: 100vh;
  background-color: white; }
  .account__title {
    margin: 0 auto;
    letter-spacing: 1px;
    text-transform: uppercase;
    text-align: center;
    padding: 10px 0;
    font-size: 16px;
    border-bottom: 0.05px solid lightgray;
    width: 90%; }
  .account__info {
    width: 100%;
    padding: 15px;
    min-height: 350px; }
    .account__info-list {
      display: flex;
      justify-content: center;
      align-items: flex-start;
      flex-direction: column;
      list-style: none; }
      .account__info-list_element {
        text-transform: uppercase;
        letter-spacing: 1px;
        font-weight: bold;
        margin: 7px 0; }

.accout-options {
  margin: 0 auto; }

.buy-product__steps {
  padding-top: 25px; }

.buy-costs {
  width: 100%;
  min-height: 100vh;
  background-color: white;
  display: flex;
  flex-direction: column; }
  .buy-costs__title {
    font-size: 15px;
    padding: 10px 10px;
    text-transform: uppercase;
    letter-spacing: 1px; }
  .buy-costs__payment {
    margin: 0 auto;
    width: 95%;
    height: 100%;
    border-top: 0.05px solid lightgray;
    padding: 10px 0px; }
    .buy-costs__payment-type {
      display: flex;
      flex-direction: column;
      width: 100%;
      min-height: 70%;
      padding: 5px 0px; }
    .buy-costs__payment-method {
      width: 100%;
      padding: 20px 5px;
      border-top: 0.05px solid #ddd9d9;
      font-size: 15px;
      font-weight: bold;
      letter-spacing: 1px;
      position: relative; }
      .buy-costs__payment-method:nth-child(1) {
        border: none; }
      .buy-costs__payment-method span {
        position: absolute;
        font-size: 28px;
        top: 50%;
        right: 10%;
        transform: translateY(-50%); }
        .buy-costs__payment-method span:nth-child(3) {
          right: 20%; }
      .buy-costs__payment-method_data {
        padding: 15px;
        margin-top: 8px;
        line-height: 20px;
        text-align: center; }
    .buy-costs__payment-choice {
      width: 15px;
      height: 15px;
      margin: 0 10px;
      background-color: white; }
  .buy-costs__summary {
    width: 100vw;
    height: 250px;
    background-color: white;
    margin: 5px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; }
    .buy-costs__summary-transport {
      width: 95%;
      padding: 10px 0;
      font-size: 18px;
      font-weight: bold;
      letter-spacing: 1px;
      position: relative;
      border-bottom: 0.05px solid #ddd9d9; }
      .buy-costs__summary-transport_promotion {
        position: absolute;
        right: 5%;
        top: 50%;
        transform: translateY(-50%); }
    .buy-costs__summary-price {
      text-transform: uppercase;
      padding: 10px 0;
      letter-spacing: 1px;
      font-size: 16px;
      width: 95%;
      position: relative;
      font-weight: bold; }
      .buy-costs__summary-price_vat {
        margin: 0 6px;
        font-size: 8px;
        color: #c8c7c7; }
      .buy-costs__summary-price_value {
        position: absolute;
        right: 5%;
        top: 50%;
        transform: translateY(-50%);
        color: #a10202; }
    .buy-costs__summary-btn {
      margin-top: 20px;
      width: 220px;
      padding: 5px 15px;
      text-align: center;
      line-height: 30px;
      font-weight: bold;
      color: white;
      letter-spacing: 1px;
      text-transform: uppercase;
      background-color: #ff4e00;
      border: none;
      border-radius: 5px; }
    .buy-costs__summary-text {
      margin-top: 15px;
      font-size: 11px;
      letter-spacing: 1px; }

.shop-summary {
  background-color: white;
  width: 100%;
  height: 100vh;
  margin: 0 auto;
  display: flex;
  flex-direction: column; }
  .shop-summary__protect {
    width: 100%;
    height: 60px;
    background-color: gray;
    text-align: center;
    line-height: 60px; }
    .shop-summary__protect-title {
      font-size: 20px;
      color: white;
      letter-spacing: 1px; }
  .shop-summary__info {
    margin: 25px auto;
    width: 95%;
    height: 100%; }
    .shop-summary__info-title {
      text-transform: uppercase;
      letter-spacing: 1px;
      font-size: 17px;
      padding: 5px 0;
      border-bottom: 0.05px solid #ddd9d9; }
  .shop-summary__data-title {
    padding: 25px 15px;
    letter-spacing: 1px;
    color: brown; }
  .shop-summary__data {
    padding: 2px 0;
    letter-spacing: 1px; }
    .shop-summary__data > strong {
      color: #504040;
      margin: 0 6px; }
    .shop-summary__data-method {
      font-weight: bold;
      color: red;
      font-size: 15px;
      letter-spacing: 1px; }
  .shop-summary__order-product_btn {
    width: 100%;
    height: 50px;
    background-color: #ff4e00;
    position: fixed;
    left: 0;
    bottom: 0;
    text-align: center;
    line-height: 50px;
    color: white;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: bold;
    border: none;
    outline: none; }

.ordered-product {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: white; }
  .ordered-product__protect {
    width: 100%;
    height: 60px;
    background-color: gray;
    text-align: center;
    line-height: 60px; }
    .ordered-product__protect-title {
      font-size: 20px;
      color: white;
      letter-spacing: 1px; }
  .ordered-product__ready {
    margin: 35px auto;
    width: 95%;
    background-color: chartreuse;
    height: 200px;
    text-align: center;
    padding: 25px;
    border-radius: 50px;
    letter-spacing: 1px;
    position: relative;
    font-weight: bold; }
    .ordered-product__ready span {
      font-size: 28px;
      padding: 2px; }
    .ordered-product__ready span:nth-child(1) {
      padding: 5px 0; }
    .ordered-product__ready span:nth-child(2) {
      font-size: 50px; }
    .ordered-product__ready-icon {
      position: absolute;
      left: 50%;
      top: 65%;
      transform: translate(-50%, -50%); }
  .ordered-product__go-back-icon {
    position: absolute;
    left: 5%;
    top: 50%;
    font-size: 32px;
    transform: translateY(-50%); }
  .ordered-product__go-main-side {
    width: 100%;
    height: 50px;
    background-color: #ff4e00;
    position: fixed;
    left: 0;
    bottom: 0;
    text-align: center;
    line-height: 50px;
    color: white;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: bold;
    border: none;
    outline: none; }

