.section {

    &__path {
        font-family: "roboto";
        text-align: center;
        text-transform: capitalize;
        letter-spacing: 1px;
        color: rgb(53, 187, 187);
        font-size: 12px;
        padding: 20px 0;
        background-color: rgba(234, 243, 243, 0.794);

    }
}