.section {

    &__path {
        font-family: "roboto";
        text-align: center;
        text-transform: capitalize;
        letter-spacing: 1px;
        color: lightgray;
        font-size: 12px;
        padding: 20px 0;
        background-color: rgba(234, 243, 243, 0.794);
        margin: 20px 0;

        &-details {
            color: #29dcf9;
            padding: 0 7px;
            font-weight: bold;
        }

        &-category {
            color: black;
            padding: 0 15px;
        }
    }
}