p {
    margin-bottom: 0;
}

.shop-list {
    max-width: 1000px;
    min-height: 120vh;
    background-color: white;
    display: flex;
    flex-direction: column;
    margin: 0 auto;

    & .account-options {
        font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
        width: 95%;
        margin: 20px auto;
        border-radius: 105px;
        background: linear-gradient(90deg, rgba(33, 31, 33, 0.9976365546218487) -100%, rgba(93, 93, 93, 1) 77%);



        &__title {
            color: white;
        }

        & .options-list {
            color: white;
        }
    }

    &__new-product {
        height: 50px;
        font-size: 14px;
        background-color: #eee;
        text-align: center;
        line-height: 50px;

        &_icon {
            color: rgb(16, 179, 16);
            font-size: 27px;
            margin-right: 8px;
        }
    }
}

.pure-store {
    margin-top: 30px;
    text-align: center;

    &__text {
        padding-top: 35px;
    }
}

.products-shopping {
    padding: 40px 0;
    height: 100vh;
    width: 95%;
    margin: 0 auto;

    &__title {
        font-size: 25px;
        overflow-wrap: break-word;
        word-wrap: break-word;
        word-break: break-word;
        color: #1d1d1e;
        font-family: inherit;
        font-weight: 500;
        line-height: 1.1;
    }

    &__info {
        display: flex;
        justify-content: center;
        align-items: center;
        padding-top: 20px;


        &-text {
            flex-grow: 1;
            height: 30px;
            color: #1d1d1e;
            font-size: .9em;
            line-height: 30px;
            text-transform: capitalize;
            border-bottom: 1px solid #d6dae3;
            padding-left: 5px;
            text-align: right;
            margin-bottom: 0;

            &:nth-child(1) {
                flex-grow: 3;
                text-align: left;


            }

            @media (max-width: 700px) {
                &:nth-child(1) {
                    flex-grow: .3;



                }

                &:nth-child(2) {
                    flex-grow: 0.1;



                }

                &:nth-child(3) {
                    flex-grow: 1;



                }



            }

        }
    }

    &__sum {
        text-align: right;
        padding-top: 20px;


        &-text {
            font-size: 16px;
            color: #1d1d1e;
            font-size: 16px;
            font-weight: 700;
            letter-spacing: .3px;
        }
    }

    &__next {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-top: 25px;

        &-back {
            border: none;
            background-color: #eee;
            color: #4d4d4d;
            font-size: 12px;
            border-radius: 30px;
            padding: 10px 20px;
            transition: all .3s;

            &_icon {
                font-size: 15px;
                margin-right: 7px;
                transform: translateX(0);
                transition: all .3s;
                color: #1d1d1e;
                vertical-align: -1px;

            }

            &_link {
                color: #1d1d1e;
                font-weight: normal;

                &:hover {
                    text-decoration: none;
                    color: currentColor;
                }
            }

            &:hover>&_icon {
                transform: translateX(-4px);
            }

            &:hover {
                background-color: #9dcad8;
            }
        }

        &-step {
            width: 200px;
            height: 45px;
            background-color: #70bed6;
            color: white;
            border-radius: 30px;
            border: none;

            &_icon {
                font-size: 21px;
                margin-left: 7px;
                transform: translateX(0);
                transition: all .3s;
                vertical-align: -2px;
            }

            &:hover>&_icon {
                transform: translateX(4px);
            }

            &:hover {
                background: darken($color: #9dcad8, $amount: 10%);
            }
        }
    }
}

.products-shopping__product {
    display: flex;
    justify-content: center;
    //align-items: center;
    height: 77px;
    border-bottom: 1px solid #d6dae3;
    padding: 8px 0;
    position: relative;

    @media (max-width: 700px) {
        height: 107px;
        align-items: center;

    }

    &-picture {
        flex-grow: 1.5;
        display: flex;
        height: 100%;

        @media (max-width: 700px) {
            flex-grow: initial;

            flex-direction: column-reverse;

        }
    }

    &-img {
        height: 100%;

        @media (max-width: 700px) {

            height: 70px;
        }

    }

    &-title {
        flex-grow: 2.5;
        text-transform: uppercase;
        color: #1d1d1e;

        font-size: 14px;
        padding-left: 32px;
        line-height: 60px;

        @media (max-width: 700px) {
            padding-left: 0;
            line-height: 0;
            flex-grow: 0.6;
            text-transform: capitalize;

        }
    }

    &-price {
        flex-grow: 1;
        text-align: right;

        @media (max-width: 700px) {
            flex-grow: initial;
            width: min-content;
            padding: 0 5px;

        }

        &_promotion {
            text-decoration: line-through;
            color: #878787;
            font-size: 14px;
        }

        &_value {
            font-size: 14px;
            color: #1d1d1e;
        }

        &_saved {
            font-size: .8em;
            color: #1d1d1e;
        }
    }

    &-length {
        flex-grow: 1;
        text-align: right;
        line-height: 60px;

        &_select {
            border-radius: 50px;
            width: 50px;
            height: 30px;
            border: 1px solid #d6dae3;
            background-color: transparent;
            text-align: center;
            font-size: 14px;



        }

        &_sign {
            color: #918c8c;
            font-size: 12px;
            padding: 0 4px;
            border: none;
            outline: none !important;
            background-color: transparent;
            transition: color .2s;

            &:hover {
                color: black;
            }
        }
    }

    &-sum {
        flex-grow: 1;
        text-align: right;
        line-height: 60px;
    }

    &-delete {

        position: absolute;
        right: -3%;
        top: 50%;
        transform: translateY(-50%);

        @media (max-width: 700px) {
            right: 3%;
            top: 25%;

        }

        &_icon {
            color: inherit;
            transition: all .3s;
            cursor: pointer;
        }

        &_icon:hover {
            color: red;
        }
    }
}