.wish-list {
    width: 100vw;
    min-height: 100vh;
    background-color: white;

    position: relative;


    &__content {
        width: 100vw;
        height: 250px;
        background-color: #eee;
        position: relative;

    }

    &__title {

        position: absolute;
        left: 5%;
        bottom: 3%;
        font-size: 30px;
        text-transform: uppercase;
        padding: 20px;
        word-spacing: 3px;
    }

    .products {
        display: flex;
        flex-wrap: wrap;
        padding: 20px;

    }

    &__nothing {

        color: red;
        padding: 25px 0 25px 25px;
        display: inline-block;
    }

    &__nothing-icon {
        padding-left: 7px;
        font-size: 22px;
    }
}