.wish-list {
    width: 100vw;
    min-height: 100vh;
    background-color: rgb(231, 227, 227);
    position: relative;


    &__content {
        width: 100vw;
        height: 250px;
        background-color: white;
        position: relative;

    }

    &__title {
        font-family: 'Roboto Mono', monospace;
        position: absolute;
        left: 5%;
        bottom: 3%;
        font-size: 30px;
        text-transform: capitalize;
        padding: 20px;
        word-spacing: 3px;
    }

    .products {
        display: flex;
        flex-wrap: wrap;

    }

    &__nothing {

        color: red;
        padding: 25px 0 25px 25px;
        display: inline-block;
    }

    &__nothing-icon {
        padding-left: 7px;
        font-size: 22px;
    }
}