.adres {
    &__title {
        text-transform: uppercase;
        letter-spacing: 1px;
        padding: 8px 15px;
        font-size: 17px;
    }

    &__location {
        margin: 0 auto;
        width: 95%;
        border-top: 0.05px solid lightgray;
        padding: 25px 10px;

        &-form {
            display: flex;
            flex-direction: column;

            &_data {
                margin: 12px 0;
                border: none;
                outline: none;
                border-bottom: 0.5px solid black;
                transition: .3s;
                padding: 5px;

                &:focus {
                    border-color: lightskyblue;
                }
            }
        }
    }


}