.buy-product__steps {
    padding-top: 25px;
}

.buy-costs {
    width: 100%;
    min-height: 100vh;

    background-color: white;
    display: flex;
    flex-direction: column;

    &__title {
        font-size: 15px;
        padding: 10px 50px;
        text-transform: uppercase;
        letter-spacing: 1px;
    }


    &__payment {
        margin: 0 auto;
        width: 95%;
        height: 100%;
        border-top: 0.05px solid lightgray;
        padding: 10px 0px;


        //form
        &-type {
            display: flex;
            flex-direction: column;
            width: 100%;
            min-height: 70%;
            padding: 5px 0px;
        }

        //label
        &-method {
            width: 100%;
            padding: 20px 5px;
            border-top: 0.05px solid rgb(221, 217, 217);
            font-size: 15px;
            font-weight: bold;
            letter-spacing: 1px;
            position: relative;
            cursor: pointer;

            @media (min-width:1280px) {
                padding: 25px 5px;
                font-size: 15px;
                transition: .2s;

                &:hover {
                    background-color: #ff4e00;
                    color: white;
                }
            }

            &:nth-child(1) {
                border: none;

            }

            & span {
                position: absolute;
                font-size: 28px;
                top: 50%;
                right: 10%;
                transform: translateY(-50%);

                @media (min-width:1280px) {
                    font-size: 34px;
                }

                &:nth-child(3) {
                    margin-right: 50px;
                }
            }

            &_data {
                padding: 15px;
                margin-top: 8px;
                line-height: 20px;
                text-align: center;

                @media (min-width:1280px) {
                    line-height: 29px;
                }
            }
        }

        //input
        &-choice {
            width: 15px;
            height: 15px;
            margin: 0 10px;
            background-color: white;


        }
    }


    &__summary {
        width: 100%;
        height: 250px;
        background-color: rgb(255, 255, 255);
        margin: 5px 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        &-transport {
            width: 95%;
            padding: 10px 0;
            font-size: 18px;
            font-weight: bold;
            letter-spacing: 1px;
            position: relative;
            border-bottom: 0.05px solid rgb(221, 217, 217);

            &_promotion {
                position: absolute;
                right: 5%;
                top: 50%;
                transform: translateY(-50%);
            }



        }

        &-price {
            text-transform: uppercase;
            padding: 10px 0;
            letter-spacing: 1px;
            font-size: 16px;
            width: 95%;
            position: relative;
            font-weight: bold;

            &_vat {
                margin: 0 6px;
                font-size: 8px;
                color: rgb(200, 199, 199);
            }

            &_value {
                position: absolute;
                right: 5%;
                top: 50%;
                transform: translateY(-50%);
                color: rgb(161, 2, 2);
            }
        }

        //btn
        &-btn {
            margin-top: 20px;
            width: 220px;
            padding: 5px 15px;
            text-align: center;
            line-height: 30px;
            font-weight: bold;
            color: white;
            letter-spacing: 1px;
            text-transform: uppercase;
            background-color: #ff4e00;
            border: none;
            border-radius: 5px;
            cursor: pointer;

        }

        //text
        &-text {
            margin-top: 15px;
            font-size: 11px;
            letter-spacing: 1px;

        }
    }
}