@import "../main/variables";

.ordered-product {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: white;



    &__ready {
        margin: 35px auto;
        max-width: 350px;

        height: 200px;
        text-align: center;
        padding: 25px;
        border-radius: 50px;
        letter-spacing: 1px;
        position: relative;
        font-weight: bold;

        &-icon {
            color: rgb(28, 226, 28);
            font-size: 29px;
            margin-left: 10px;
        }

    }

    &__back {
        background-color: $default-color;
        margin-top: 20px;
        height: 40px;
        border-radius: 30px;
        border: none;
        color: white;
        line-height: 40px;
        padding: 0px 15px;
        font-size: 14px;
        transition: all .3s;

        &-icon {
            margin-right: 9px;
            font-size: 22px;
            vertical-align: -3px;
            transform: translateX(0px);
            transition: .3s all .1s;
        }

        &:hover {
            background: darken($color: $default-color, $amount: 10%);
        }

        &:hover &-icon {
            transform: translateX(-5px);
        }
    }






}