.header {
  width: 100%;
  height: 50px;
  background-color: white;
  display: flex;
  overflow: hidden;
  padding: 0px 15px;
  border-bottom: 2px solid rgb(235, 233, 233);

  .components {
    width: 100%;
    height: 40px;
    background-color: white;
    display: flex;
    align-items: center;
    position: relative;
    padding: 5px 5px;

    .search-panel {
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative;

      //search-products BTN
      &__btn {
        background-color: transparent;
        border: none;
        font-size: 20px;
        outline: none;
        margin-left: 9px;
        cursor: pointer;


        @media (min-width: 1280px) {
          transform: rotate(0deg) translateX(0px);
          transition: transform .2s;

          &:hover {
            transform: rotate(15deg) translateX(5px);
          }
        }

      }




      //search-products
      &__search {
        width: 80%;
        display: flex;
        transform: translateX(-200%);
        justify-content: center;
        align-items: center;
        transition: 0.7s;
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 50px;
        background-color: rgba(0, 0, 0, 0.8);
        transition: 0.4s;
        z-index: 8;

        @media (min-width: 1280px) {
          position: absolute;
          width: 200px;
          height: 30px;
          top: -13px;
          background-color: transparent;

          margin-left: 25px;
        }



        &--active {

          transform: translateX(0);


        }

        &-input {
          width: 80%;
          height: 60%;
          padding: 10px;
          border: none;
          transition: .3s;
          color: black;

          @media (min-width: 1280px) {
            width: 100%;
            border: none;
            outline: none;
            border-bottom: 1px solid rgba(0, 0, 255, 0.719);
            margin-right: 10px;

            &:focus {
              padding: 13px;
              border-color: rgba(255, 99, 71, 0.883);
            }
          }
        }

        &-exit {
          margin-left: 25px;
          background-color: transparent;
          border: none;
          cursor: pointer;

          &>span {
            font-size: 22px;
            position: absolute;
            top: 50%;
            right: 5%;
            transform: translateY(-50%);
            color: red;
          }
        }
      }
    }

    .logo {
      position: absolute;
      left: 15%;
      top: 50%;
      transform: translateY(-50%);
      margin-left: 10px;
      height: 30px;

      @media (min-width: 1280px) {
        left: 25%;
      }

      & img {
        height: 100%;
      }
    }

    &__menu-type {
      display: none;
    }

    .account-options,
    &__logo {
      position: absolute;
      right: 5%;
      top: 10%;
    }
  }
}