.header {
  width: 100vw;


  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
  padding: 0px 15px;






  .components {

    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 10px 20px;

    border-bottom: 2px solid rgb(235, 229, 229);

    &__language {
      display: flex;
      margin-right: 45vw;

      &-choice {
        font-family: "roboto";
        font-size: 12px;
        margin-bottom: 1em;
        padding: .25em;
        border: 0;
        border-bottom: 2px solid lightgray;
        font-weight: bold;
        letter-spacing: .15em;
        border-radius: 0;
        outline: none;
        margin: 0 5px;

        &:focus,
        &:active {
          outline: 0;
          border-bottom-color: rgb(246, 168, 168);
        }

      }

      &-option {
        border: none;

        padding: 10px;
        -webkit-appearance: none;
        -moz-appearance: none;
        outline: none;
      }
    }

    .search-panel {
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative;
      z-index: 3;




      //search-products BTN
      &__btn {
        background-color: transparent;
        border: none;

        outline: none;

        cursor: pointer;
        color: black;
        font-size: 20px;




      }




      //search-products
      &__search {
        width: 80%;
        display: flex;
        transform: translateX(-100%);
        justify-content: center;
        align-items: center;
        transition: 0.7s;
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 50px;
        background-color: rgba(0, 0, 0, 0.9);
        transition: 0.4s;


        @media (min-width: 1280px) {
          position: absolute;
          width: 400px;
          height: 30px;
          top: -13px;
          background-color: transparent;
          transform: translateX(-300%);
          margin-left: 25px;

        }



        &--active {
          //z-index: 6;
          transform: translateX(0%);


          @media (min-width: 1280px) {
            transform: translateX(80%);
          }

        }

        &-input {
          width: 80%;
          height: 60%;
          padding: 10px;
          border: none;
          transition: .3s;
          color: black;

          @media (min-width: 1280px) {
            background-color: transparent;
            width: 100%;
            border: none;
            outline: none;
            border-bottom: 1px solid rgba(0, 0, 255, 0.719);
            margin-right: 10px;
            color: white;

            &:focus {
              padding: 13px;
              border-color: rgba(255, 99, 71, 0.883);
            }
          }
        }

        &-exit {
          margin-left: 25px;
          background-color: transparent;
          border: none;
          cursor: pointer;
          z-index: 9;

          @media (min-width: 1280px) {
            margin-left: 45px;

            &:hover {
              color: turquoise;
            }
          }

          &>span {
            font-size: 22px;
            position: absolute;
            top: 50%;
            right: 5%;
            transform: translateY(-50%);
            color: red;


            @media (min-width: 1280px) {


              &:hover {
                color: rgb(134, 4, 4);
              }
            }
          }
        }
      }
    }



    &__menu-type {
      display: none;
    }




  }
}