.header {
  width: 100vw;

  height: 50px;
  background-color: white;
  display: flex;
  align-items: center;
  overflow: hidden;
  padding: 0px 15px;
  border-bottom: 2px solid rgb(235, 233, 233);



  @media (min-width: 1280px) {
    margin: 10px auto;
    max-width: 90%;
    overflow: visible;

  }

  @media (min-width: 1600px) {

    max-width: 70%;

  }

  .components {

    width: 100vw;
    height: 40px;
    background-color: white;
    display: flex;
    align-items: center;
    position: relative;
    padding: 5px 5px;

    .search-panel {
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative;
      z-index: 3;
      padding-top: 5px;

      @media (min-width: 1280px) {

        margin-left: -55px;
      }




      //search-products BTN
      &__btn {
        background-color: transparent;
        border: none;
        font-size: 16px;
        outline: none;

        cursor: pointer;
        color: rgb(212, 209, 209);


        @media (min-width: 1280px) {
          transform: rotate(0deg) translateX(0px);
          transition: transform .2s;

          &:hover {
            transform: rotate(15deg) translateX(5px);
          }
        }

      }




      //search-products
      &__search {
        width: 80%;
        display: flex;
        transform: translateX(-100%);
        justify-content: center;
        align-items: center;
        transition: 0.7s;
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 50px;
        background-color: rgba(0, 0, 0, 0.9);
        transition: 0.4s;


        @media (min-width: 1280px) {
          position: absolute;
          width: 400px;
          height: 30px;
          top: -13px;
          background-color: transparent;
          transform: translateX(-300%);
          margin-left: 25px;

        }



        &--active {
          //z-index: 6;
          transform: translateX(0%);


          @media (min-width: 1280px) {
            transform: translateX(80%);
          }

        }

        &-input {
          width: 80%;
          height: 60%;
          padding: 10px;
          border: none;
          transition: .3s;
          color: black;

          @media (min-width: 1280px) {
            background-color: transparent;
            width: 100%;
            border: none;
            outline: none;
            border-bottom: 1px solid rgba(0, 0, 255, 0.719);
            margin-right: 10px;
            color: white;

            &:focus {
              padding: 13px;
              border-color: rgba(255, 99, 71, 0.883);
            }
          }
        }

        &-exit {
          margin-left: 25px;
          background-color: transparent;
          border: none;
          cursor: pointer;
          z-index: 9;

          @media (min-width: 1280px) {
            margin-left: 45px;

            &:hover {
              color: turquoise;
            }
          }

          &>span {
            font-size: 22px;
            position: absolute;
            top: 50%;
            right: 5%;
            transform: translateY(-50%);
            color: red;


            @media (min-width: 1280px) {


              &:hover {
                color: rgb(134, 4, 4);
              }
            }
          }
        }
      }
    }

    .logo {
      position: absolute;
      left: 15%;
      top: 50%;
      transform: translateY(-50%);
      margin-left: 10px;
      height: 30px;

      @media (min-width: 1280px) {
        left: 25%;
      }

      & img {
        height: 100%;
      }
    }

    &__menu-type {
      display: none;
    }

    &__logo {
      position: absolute;
      left: 1%;
      top: 5%;
    }

    .account-options {
      position: absolute;
      left: 0%;
      top: 50%;
      transform: translateY(-50%);
      margin-left: 10px;



      @media (min-width: 1280px) {
        left: -2%;
        top: 50%;

      }
    }
  }
}