@mixin favourite {
    position: absolute;
    top: 4%;
    right:
        6%;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: white;
    text-align: center;
    line-height: 30px;

}