.footer {
    width: 100vw;
    display: flex;
    flex-direction: column;
    background-color: white;
    border-top: 1px solid rgba(200, 196, 196, 0.856);



    &__elements {
        display: flex;
        min-height: 400px;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;



    }

    &__element {
        flex-basis: 350px;
        display: flex;
        flex-direction: column;
        margin: 0 50px;

        @media (max-width:917px) {
            padding: 20px 0;
        }


        &-title {
            font-size: 28px;
            text-transform: uppercase;
            font-weight: bolder;
            color: rgb(199, 198, 198);
            letter-spacing: 1px;
            padding: 10px 0;

        }

        &-info {
            font-weight: bolder;
            text-transform: capitalize;
            letter-spacing: 1px;
            transform: translateY(-10px);
        }

        &-text {
            font-size: 12px;
        }

        // FB and TW -- ICONS
        &-media {}

        &-icons {
            padding-top: 10px;
            color: rgb(69, 69, 129);

            &:nth-child(2) {
                margin-left: 50px;
                color: rgb(103, 204, 235);
            }
        }
    }

}

.footer__informations {
    font-family: "roboto";
    padding: 100px 0;
    padding-bottom: 70px;
    border-top: 1px solid rgba(200, 196, 196, 0.856);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;


    &-title {
        text-transform: capitalize;
        font-size: 21px;
        margin-bottom: 25px;
    }

    &-text {
        font-size: 13px;
    }
}

.footer__information {

    display: flex;
    flex-direction: column;
    margin: 0 50px;

    @media (max-width:1290px) {
        margin: 10px 50px;
    }

}

.footer__payment {
    padding: 0 300px;
    display: flex;
    justify-content: flex-end;
    height: 40px;

    &-icon {
        font-size: 26px;
        margin: 0 6px;
    }
}