@import "./favPrFunctions";
@import "./variables";

$category-light-color: rgb(117, 117, 117);
$category-dark-color: rgb(26, 26, 26);
$border-color-default: rgb(221, 221, 221);

.container {
    width: 100vw;
    min-height: 100vh;
}

.product-wrapper {
    font-family: "Lato";
    width: 100%;
    height: 100%;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 10px;
    overflow: hidden;
    margin: 0 auto;
}

.product-exit {
    position: absolute;
    top: 2.5%;
    left: 2.5%;
    border: none;
    background-color: transparent;
    font-size: 18px;
    outline: none;
    cursor: pointer;
    transition: color 0.2s ease;



    &:hover {
        color: $default-color;
    }
}

.product-details {
    width: 1100px;
    display: flex;
    justify-content: center;
    padding: 20px 0;

    @media (max-width:1150px) {
        width: 900px;
        padding: 0;
        margin-right: 0;
    }

    @media (max-width: 960px) {
        width: 650px;
    }

    @media (max-width: 700px) {
        width: 95%;
        flex-direction: column;
    }

    &__picture {
        flex-basis: 500px;

        padding: 20px;
        margin-right: 20px;

        @media (max-width: 960px) {
            flex-basis: 600px;
            padding: 20px 0;

        }

        @media (max-width: 700px) {
            flex-basis: auto;
            width: 100%;

        }
    }

    &__container {
        width: 900px;
        flex-grow: 1;
        padding: 20px;

        @media (max-width: 700px) {
            width: 100%;
            margin-bottom: 50px;
        }
    }

    &__img {
        width: 100%;
        height: 100%;
        filter: brightness(0.5);
    }

    &__company {
        letter-spacing: 1px;
        padding: 10px 20px;
        font-size: 13px;
        text-transform: capitalize;

        &-info {
            font-size: 10px;
            margin: 6px 0 0 3px;
            font-weight: bold;
        }
    }

    &__description {
        font-family: "Roboto", sans-serif;
        color: #666;
        font-size: 16px;
        font-weight: 300;
        width: 85%;
        padding: 10px;
    }

    &__type {
        font-family: "Roboto", sans-serif;
        text-transform: uppercase;
        padding: 7px 5px;

        color: #1b3453;
        font-size: 26px;
        font-weight: 500;
        font-style: italic;
        font-style: italic;
        margin-bottom: 9.5px;
        line-height: 1.1;
    }

    &__price {
        margin-top: 20px;
    }

    &__actual_price {
        color: rgb(200, 44, 44);
        font-weight: bold;
        font-size: 22px;
        padding: 5px 10px;
    }

    &__vat {
        margin: 0 5px;
        color: rgb(207, 204, 204);
        font-size: 12px;
    }

    &__promotion {
        color: rgb(255, 6, 6);
        padding: 1px 10px;
        font-size: 12px;
    }

    &__color {
        padding: 20px 10px;
        font-size: 12px;

        @media (min-width: 900px) {
            font-size: 14px;
        }
    }
}

.product-buying {
    display: flex;

    @media (max-width: 960px) {
        display: flex;
        flex-direction: column;
        height: 500px;
    }




    &__info {
        flex-basis: 360px;
        height: 410px;
        border-top: 1px solid $border-color-default;

        margin-right: 32px;

        padding: 6px 0;

        &-list {
            width: 100%;
            display: flex;
            flex-direction: column;
            list-style: none;
        }

        &-item {
            width: 100%;
            margin: 5px 0;
            color: $category-light-color;
            font-size: 13px;
            text-transform: capitalize;
            letter-spacing: 1px;
        }

        &-details {
            font-size: 14px;
            color: $category-dark-color;
            font-weight: bold;
            margin-left: 3px;
        }
    }
}

.product-buying__options {
    & {
        flex-basis: 420px;
        height: 410px;
        border: 1px solid $border-color-default;
        border-radius: 8px;
        display: flex;
        flex-direction: column;
        padding-top: 16px;
        position: relative;
    }

    &--error {
        position: absolute;

        left: 2%;
        color: red;

        font-size: 12px;
    }

    &-promotion {
        display: block;
        width: 95%;
        text-align: right;
        font-size: 13px;
        line-height: 16px;
        text-transform: capitalize;
        color: $category-dark-color;
    }

    &-price {
        width: 95%;
        text-align: right;

        &_old {
            font-size: 14px;
            line-height: 24px;
            color: rgb(148, 148, 148);
            text-decoration: line-through;
            margin-right: 8px;
        }

        &_value {
            font-size: 26px;
            line-height: 32px;
            color: rgb(77, 77, 77);
        }
    }

    // ADDING TO STORE / CHOOSING SIZE

    &-shopping {
        padding: 12px 16px;
        display: flex;
        justify-content: space-evenly;
        align-items: center;

        &_size {
            width: auto;
            border-radius: 25px;
            outline: none;
            cursor: pointer;

            &--active {
                background-color: rgb(241, 113, 113);
            }
        }

        &_add {
            white-space: nowrap;
            border-radius: 25px;
            background-color: $default-color;
            color: white;
            border: none;
            padding: 0px 8px;
            width: 100%;
            height: 40px;
            font-size: 15px;
            margin-left: 8px;
            transition: background-color 0.3s;
            outline: none !important;

            &:hover {
                background-color: darken($default-color, $amount: 10%);
            }

            &-text {
                margin-left: 6px;
            }

            &-icon {
                font-size: 19px;
            }
        }
    }
}

.options {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 400px;
    position: relative;
    padding: 20px;
    //display: none;

    @media (min-width: 800px) {
        width: 60%;
    }

    @media (min-width: 900px) {
        width: 40%;
    }

    &__type {
        font-size: 11px;
        margin-left: 35px;
        padding: 3px;
        position: absolute;
        left: 9%;
        top: 0;

        @media (min-width: 900px) {
            left: 2%;
        }
    }

    &__size {
        margin: 0 auto;
        width: 80%;
        padding: 7px;
        transition: 0.2s;
        outline: none;
        cursor: pointer;

        @media (min-width: 900px) {
            width: 45%;
            margin: 0 20px;
        }

        &--active {
            background-color: rgba(233, 104, 104, 0.986);
            font-size: 15px;
            padding: 8px;
            font-weight: bold;
        }
    }

    &__btn {
        width: 80%;
        background-color: #ff4e00;
        margin: 13px auto;
        border: none;
        height: 50px;
        position: relative;
        border-radius: 5px;
        outline: none;
        cursor: pointer;

        @media (min-width: 900px) {
            width: 65%;
            margin: 13px 20px;
        }

        &-text {
            text-align: left;
            color: white;
            font-weight: bold;
            letter-spacing: 1px;
            display: block;
            width: 90%;
            font-size: 13px;
            margin-left: 16px;
        }

        &-icon {
            position: absolute;
            right: 5%;
            top: 50%;
            transform: translateY(-50%);
            font-size: 16px;
            color: white;
        }
    }
}

.product-buying__transport {
    margin-top: 10px;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    border-top: 1px solid $border-color-default;

    &-product {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        flex-grow: 1;
        position: relative;

        &::after {
            content: "";
            position: absolute;
            bottom: 0;
            right: 0;
            width: 80%;
            height: 1px;
            background-color: $border-color-default;
        }
    }

    &-icon {
        color: $category-dark-color;
        margin-left: 10px;
        padding: 0 10px;

        font-size: 18px;
    }

    &__text {
        padding-left: 10px;

        margin: 0;
        font-size: 14px;
        line-height: 20px;
        color: $category-dark-color;
    }

    &-important {
        display: block;
        color: $category-light-color;
        font-size: 13px;
    }
}

.product-title {
    &__title {
        text-transform: uppercase;
        font-size: 26px;
        margin: 0;
    }

    & .product__rating {
        padding-top: 6px;

        &-checked {
            color: #f7b000;
        }

        &-reviews {
            color: $category-light-color;
            margin-left: 10px;
            font-size: 13px;
        }
    }

    &__info {
        padding-bottom: 6px;

        &-details {
            color: rgb(148, 148, 148);
            font-size: 13px;
        }

        &-company {
            color: $category-light-color;
            text-transform: uppercase;
            font-size: 14px;
            margin-left: 4px;
            letter-spacing: 1px;
        }
    }
}

.about {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    min-height: 50vh;
    margin: 30px 0;
    width: 1110px;
    margin: 0 auto;
    padding: 10px;

    @media (max-width: 950px) {
        display: inherit;
    }



    &__list {
        width: 350px;
        height: 60px;
        align-self: flex-start;
        margin-bottom: 30px;
        list-style: none;
        display: flex;
        position: relative;

        &::after {
            content: "";
            position: absolute;
            bottom: 0;
            left: 0;
            width: 250vw;
            height: 1px;
            background-color: $border-color-default;
            transform: translateX(-50%);
        }
    }

    &__item {
        flex-grow: 1;
        height: 60px;

        padding: 0 10px;
        font-size: 14px;
        line-height: 20px;
        color: $category-dark-color;
        text-align: center;
        line-height: 60px;
        position: relative;
        cursor: pointer;
        transition: all .3s;

        &-icon {
            color: $category-light-color;
            font-size: 12px;
        }

        &-icon::after {
            content: "";
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 22px;
            height: 22px;
            border: 1px solid $category-light-color;
            border-radius: 25%;
            border-radius: 50%;
            z-index: -1;
        }

        &:hover {
            color: black;
        }
    }

    &__content {
        padding-top: 20px;
        position: relative;
        padding-left: calc(120px * 2);

        @media (max-width: 1140px) {

            width: 65%;
            padding-top: 20px;
            padding-left: 30px;
        }

        @media (max-width: 730px) {
            padding-left: 10px;
            width: 45%;
        }

        @media (max-width: 520px) {

            width: 33%;
        }

        &::after {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 120px;
            height: 2px;
            border-radius: 15px;
            background: linear-gradient(to left, darken($default-color, $amount: 20%) 50%, $default-color 50%);
        }

        &-title {
            text-transform: capitalize;
            font-size: 25px;
            letter-spacing: 1px;
            padding-bottom: 10px;
        }

        &-text {
            font-size: 20px;
            font-weight: 400;
            line-height: 1.55;
            letter-spacing: .2px;
        }


    }
}