@import "./favPrFunctions";


.container {
    width: 100vw;
    min-height: 100vh;


}

.product-wrapper {
    width: 100%;
    height: 100%;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 10px;
    overflow: hidden;


}

.product-exit {
    position: absolute;
    top: 2.5%;
    left: 2.5%;
    border: none;
    background-color: transparent;
    font-size: 18px;
    outline: none;

    transition: color .1s ease;

    @media(min-width:1280px) {
        cursor: pointer;
    }

    &:hover {
        color: tomato;
    }
}




.product-details {

    position: relative;
    width: 100%;
    min-height: 650px;

    @media(min-width:800px) {
        width: 60%;
        margin-top: 20px;
    }

    @media(min-width:1024px) {
        width: 80%;
        height: 400px;
        display: grid;
        grid-template-columns: 300px auto;
        grid-template-rows: 600px 150px;
        min-height: 300px;
        margin-top: 80px;

    }





    &__price {
        margin-top: 80px;


    }







    .product-favourite {
        @include favourite;

        @media(min-width:800px) {
            top: 3%;
        }






    }








    &__img {
        margin-top: 20px;
        width: 100%;
        height: 60%;
        filter: brightness(0.5);

        &-icon {
            font-size: 20px;




            @media(min-width:1280px) {
                font-size: 22px;
                cursor: pointer;
                line-height: 33px;

            }





        }

        @media(min-width:800px) {
            display: block;
            margin: 0 auto;
            width: 95%;
        }



    }

    &__company {

        letter-spacing: 1px;
        padding: 10px 20px;
        font-size: 13px;
        text-transform: capitalize;

        &-info {
            font-size: 10px;
            margin: 6px 0 0 3px;
            font-weight: bold;

        }

        @media(min-width:1280px) {
            font-size: 14px;
            font-family: Arial, Helvetica, sans-serif;
        }
    }

    &__type {
        text-transform: capitalize;
        padding: 7px 20px;
        font-size: 17px;
        letter-spacing: 2px;

        @media(min-width:1280px) {
            font-size: 19px;
        }
    }

    &__price {
        margin-top: 20px;
    }

    &__actual_price {
        color: rgb(200, 44, 44);
        font-weight: bold;
        font-size: 22px;
        padding: 5px 10px;
    }

    &__vat {
        margin: 0 5px;
        color: rgb(207, 204, 204);
        font-size: 12px;
    }

    &__promotion {
        color: rgb(255, 6, 6);
        padding: 1px 10px;
        font-size: 12px;
    }

    &__color {
        padding: 20px 10px;
        font-size: 12px;

        @media(min-width:1024px) {

            font-size: 14px;

        }
    }
}

.options {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 400px;
    position: relative;
    padding: 20px;



    @media(min-width:800px) {
        width: 60%;
    }

    @media(min-width:1280px) {
        width: 40%;
    }

    &__type {
        font-size: 11px;
        margin-left: 35px;
        padding: 3px;
        position: absolute;
        left: 9%;
        top: 0;

        @media(min-width:1280px) {
            left: 2%
        }

    }

    &__size {
        margin: 0 auto;
        width: 80%;
        padding: 7px;
        transition: .2s;
        outline: none;
        cursor: pointer;

        @media(min-width:1280px) {
            width: 45%;
            margin: 0 20px;
        }

        &--active {
            background-color: rgba(233, 104, 104, 0.986);
            font-size: 15px;
            padding: 8px;
            font-weight: bold;
        }

    }

    &__btn {
        width: 80%;
        background-color: #ff4e00;
        margin: 13px auto;
        border: none;
        height: 50px;
        position: relative;
        border-radius: 5px;
        outline: none;
        cursor: pointer;

        @media(min-width:1280px) {
            width: 65%;
            margin: 13px 20px;
        }

        &-text {
            text-align: left;
            color: white;
            font-weight: bold;
            letter-spacing: 1px;
            display: block;
            width: 90%;
            font-size: 13px;
            margin-left: 16px;
        }

        &-icon {
            position: absolute;
            right: 5%;
            top: 50%;
            transform: translateY(-50%);
            font-size: 16px;
            color: white;
        }




    }


}

.transport {
    height: 90px;
    display: flex;
    flex-direction: column;

    padding: 22px 0 0 20px;

    &__transport {
        display: flex;
        flex-grow: 1;

    }

    &-icon {
        font-size: 15px;
    }

    &__text {
        padding-left: 10px;
        font-size: 12px;

        &-important {
            font-weight: bolder;
            font-size: 13px;
            padding-right: 6px;

            @media(min-width:1024px) {

                font-size: 15px;

            }
        }
    }
}