@import "./favPrFunctions";

@mixin product_options {
    width: 40px;
    height: 40px;
    border: 1px solid #70bed6a9;
    color: #70bed6;
    line-height: 40px;
    background-color: transparent;
    transform: translateY(0px);
    transition: all .3s ease;
    font-weight: bold;

    &:hover {

        background-color: rgba(255, 255, 255, 0.507);
        transform: translateY(-2px);
        color: #70bed6;

    }
}


.product-container {

    display: grid;
    justify-content: center;
    grid-template-columns: repeat(auto-fill, 300px);
    gap: 0 25px;
    padding-top: 20px;

    @media(min-width:1024px) {
        padding: 0 60px;



    }

    @media (min-width: 1490px) {

        max-width: 1500px;
        margin: 0 auto;


    }
}



.product {
    width: 280px;
    height: 380px;
    z-index: 1;
    margin: 10px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    position: relative;
    cursor: pointer;
    border-radius: 5px;
    border: 2px solid #ece6e6;
    transition: all .4s;

    &__hot {
        font-family: Arial, Helvetica, sans-serif;
        padding: 0px 10px;
        font-weight: bold;
        text-transform: uppercase;
        font-size: 12px;
        border-radius: 3px;
        align-self: start;
        margin: 6px;


        background-color: red;
        color: white;
    }


    &__picture {

        z-index: 1;
        width: 230px;
        filter: brightness(0.5);
        transition: .3s;
        height: 200px;
        margin: 0 auto;
        margin-top: 35px;


    }




    &__title {
        font-family: Arial, Helvetica, sans-serif;

        font-size: 12px;
        font-weight: bold;
        margin-top: 25px;
        padding-top: 10px;
        letter-spacing: 1px;
        position: relative;
        text-transform: capitalize;
        text-align: center;

        width: 90%;
        border-top: 2px solid #ece6e6;




    }

    &__rating {
        font-size: 11px;
        margin-bottom: 7px;
        padding: 15px 0 0 0;

        &-checked {
            color: rgb(223, 199, 65);
            margin: 0 2px;
        }

        &-no_checked {
            color: lightgray;
            margin: 0 2px;
        }
    }

    &__price {
        font-family: 'roboto';
        font-size: 17px;

        margin-top: 2px;
        text-align: center;
        color: rgba(255, 0, 0, 0.596);
        font-weight: bold;
        letter-spacing: 1px;
    }

    &__promotion {
        color: rgb(206, 202, 202);
        text-decoration: line-through;
        padding-left: 7px;

    }

    &:hover &__options {
        visibility: visible;
        opacity: 1;

    }

    &__options {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 65%;
        z-index: 2;
        background-color: rgba(255, 255, 255, 0.822);
        visibility: hidden;
        opacity: 0;
        transition: all .3s;
        display: flex;
        justify-content: center;
        align-items: center;

        &-shopping {
            margin: 10px 3px 0 0;
            border-radius: 50%;
            text-align: center;
            font-size: 14px;
            margin-left: 8px;
            @include product_options();
        }
    }

    &__options .product-favourite {

        @include product_options();


    }
}

.product-favourite {
    @include favourite;


    opacity: 0.8;
    z-index: 2;
    transition: all .3s;

    @media(min-width:1280px) {



        &:hover {
            background-color: rgba(255, 0, 0, 0.596);
            color: white;
        }
    }


}

@media(max-width:335px) {
    .product-container {


        grid-template-columns: repeat(auto-fill, 280px);

    }

    .product {
        width: 270px;
        height: 510px;
        border-bottom: 0.05px solid black;


    }

    .product-favourite {
        margin-top: 25px;
    }
}