.search {
    height: 50px;
    position: relative;

    &__filtr {
        min-width: 70px;
        height: auto;
        position: absolute;
        right: 3%;
        top: 5%;
        display: flex;
        justify-content: space-around;
        align-items: center;

        & button {
            color: black;
            font-size: 19px;
            background-color: transparent;
            border: none;
            outline: none;
        }

    }

    &__text {
        color: black;
    }

    &--active {

        z-index: 3;
        transform: translateY(0);
        transition: .5s;
        will-change: transform;
    }

    &__unactive {

        transform: translateY(-100vh);
        transition: .5s;
    }
}

.filter {
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(240, 233, 233, 0.904);
    width: 100vw;
    height: 100vh;

    &__btn {
        position: absolute;
        top: 1.5%;
        left: 2%;
        background-color: transparent;
        border: none;

        & span {
            font-size: 20px;
        }
    }

    &__title {
        text-align: center;
        text-transform: uppercase;
        padding: 10px;
        font-size: 20px;
    }
}