.quality {
    max-width: 1300px;
    margin: 0 auto;
    height: 400px;


    display: grid;



    grid-template-columns: repeat(auto-fill, 400px);
    grid-template-rows: auto;
    gap: 0 50px;
    justify-content: center;
    align-items: center;

    @media (max-width:1150px) {
        height: 550px;
    }

    @media (max-width:850px) {
        height: auto;
        grid-template-rows: repeat(3, 250px);
    }

    .service {
        width: 100%;

        font-size: 13px;
        font-family: "roboto";

        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;



        &__options {
            word-spacing: 3px;
            text-align: center;
        }

        &__icon {

            font-size: 40px;
            color: rgb(236, 146, 146);
        }

        &__title {
            text-transform: uppercase;
            font-weight: bold;
            padding: 0 3px 0 20px;
            font-size: 20px;
            letter-spacing: 1px;
        }

        &__text {
            line-height: 23px;
            text-align: center;
        }
    }


}